{extend name="template/template" /}

{block name="body"}
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">广告</a>
        <a>
          <cite>广告列表</cite></a>
      </span>
  <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
    <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">

  <xblock>
    <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
    <button class="layui-btn" onclick="x_admin_show('添加广告','{:url('admin/advert/add')}',750,500)"><i class="layui-icon"></i>添加</button>
    <span class="x-right" style="line-height:40px">共有数据：{$nums} 条</span>
  </xblock>
  <form class="layui-form layui-col-md12 x-so" action="{:url('advert/lst')}" style="float: right">
    <label class="layui-form-label">广告类型</label>
    <div class="layui-input-inline">
      <select name="type"  lay-search="">
        <option value="">直接选择或搜索选择</option>
        <option {if condition="$type eq 'banner'"} selected{/if}  value="banner">pc首页轮播</option>
        <option {if condition="$type eq 'mobile'"} selected{/if} value="mobile">mobile首页轮播</option>
        <option {if condition="$type eq 'teamwork'"} selected{/if} value="teamwork">mobile合作伙伴</option>
        <option {if condition="$type eq 'concat'"} selected{/if} value="concat">mobile联系</option>

      </select>
    </div>
    <button class="layui-btn"   type="submit"><i class="layui-icon">&#xe615;</i></button>
  </form>

  <table class="layui-table">
    <thead>
    <tr>
      <th>
        <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
      </th>
      <th>ID</th>
      <th>栏目名称</th>
      <th>分类名称</th>
      <th>上级栏目</th>
      <th>主图</th>

      <th>状态</th>
      <th>操作</th>
    </thead>
    <tbody>
    {volist name="lists" id="vo"}
    <tr   >
      <td >
         <i class="iconfont" id="off" onclick="showadvert(this)">&#xe600;</i>
      </td>
      <td>{$vo.id}</td>
      <td>{$vo.title}</td>
      <td>{$vo.type}</td>
      <td>

        {volist name=":cateTree('cate')" id="v"}
        {if condition="$vo.cate_id eq $v.id"}
          {$v.cate_name}
        {/if}
        {/volist}
        {if condition="$vo.cate_id eq 0"}首页{/if}
      </td>
      <td><img src="__PUBLIC__/{$vo['thumb']}" style="width: 50px" alt=""></td>


      <td class="td-status">
        <div id="{$vo.id}" onclick="closes(this)"
             class="layui-unselect layui-form-switch
             {if condition="$vo.status eq 1"}layui-form-onswitch{/if}" lay-skin="_switch">
        <em>{if condition="$vo.status eq 1"}开启{else/}关闭{/if}</em><i></i></div>
</td>
<td class="td-manage">

  <a title="编辑" onclick="x_admin_show('修改','{:url('admin/advert/edit',array('id'=>$vo.id))}',750,500)" href="javascript:;">
    <i class="layui-icon">&#xe642;</i>
  </a>
  <a title="删除" onclick="member_del(this,{$vo.id})" href="javascript:;">
    <i class="layui-icon">&#xe640;</i>
  </a>


</td>
</tr>
{/volist}
</tbody>
</table>
<div class="page">

</div>

</div>
{/block}
{block name="js"}
{include file="template/base"}
{/block}