{extend name="template/template" /}

{block name="body"}
<body>
<div class="x-body" style="padding-top: 0px">
    <form class="layui-form">
        <input type="hidden" name="id" value="{$Request.param.id}">


        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title" style="margin-bottom: 20px">
                <li class="layui-this">基本设置</li>
                <!--<li class="">描述SEO</li>-->
                <!--<li class="">内容</li>-->
            </ul>
            <div class="layui-tab-content " >
                <div class="layui-tab-item layui-show">

                    <div class="layui-form-item">
                        <label   class="layui-form-label">
                            <span class="x-red">*</span>管理员名称
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="cname" name="username"  value="{$info['username']}"
                                  disabled class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span>必填
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label   class="layui-form-label">
                            <span class="x-red">*</span>管理员密码
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id=" " name="password"  value=""
                                   class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span>必填
                        </div>
                    </div>


                    <div class="layui-form-item" pane="">
                        <label class="layui-form-label">所属分组</label>
                        <div class="layui-input-block">
                            {volist name="group" id="cl"}
                            <input {in name="$cl['id']" value="$group_access" }checked{/in} type="checkbox" name="group[]" lay-skin="primary" value="{$cl.id}" title="{$cl.title}"  >
                            {/volist}
                        </div>
                    </div>


                    <div class="layui-form-item">
                        <label class="layui-form-label">是否开启：</label>
                        <div class="layui-input-block" style="width: 50px">
                            <input type="checkbox"  name="status" lay-skin="switch" value="{$info['status']}" lay-text="开启|关闭"   {if condition="$info['status'] eq 1 "}checked{/if}>
                        </div>
                    </div>


                </div>
                <div class="layui-tab-item">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label   class="layui-form-label">
            </label>
            <button id="btn"  type="button" class="layui-btn" lay-filter="add"  >
                修改
            </button>
        </div>
    </form>
</div>
{/block}
{block name="js"}
{include file="template/publish"}
{/block}
