<!DOCTYPE html>
<html><head>
    <meta charset="UTF-8">
	<title>YUANLU OS后台</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="STATIC/admin/css/font.css">
	  <link rel="stylesheet" href="STATIC/admin/css/yuanlu.css">
    <script type="text/javascript" src="STATIC/admin/js/vendor/jquery.min.js"></script>
    <script src="STATIC/admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="STATIC/admin/js/yuanlu.js"></script>

</head>

<body>
{include file="template/head"}

{include file="template/left"}
    <!-- <div class="x-slide_left"></div> -->
    <!-- 左侧菜单结束 -->
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
          <ul class="layui-tab-title" style="width: 90%;float: left">
              <li class="home"><i class="layui-icon">&#xe68e;</i>我的桌面</li>

          </ul>
            <ul style="width: 10%;float: left">
                <li style="float:right"><a class="layui-btn layui-btn-small iconfont"  href="javascript:location.replace(location.href);" title="刷新">&#xe64d;</a></li>
            </ul>

            <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe src="{:url('index/welcome')}" frameborder="0" scrolling="yes" class="x-iframe"></iframe>
            </div>
          </div>
        </div>
    </div>
    <div class="page-content-bg"></div>
    <!-- 右侧主体结束 -->
    <!-- 中部结束 -->
    <!-- 底部开始 -->
    <div class="footer">
        <div class="copyright">iyuanlu.com</div>
    </div>
    <!-- 底部结束 -->

</body>
</html>