

    <!-- 全站通栏轮播广告 -->
    <div id='pdv_6741' class='pdv_class' title='' style='width:1200px;height:600px;top:188px;left:0px; z-index:5'>
        <div id='spdv_6741' class='pdv_top' style='overflow:hidden;width:100%;height:100%'>
            <div class="pdv_border">

                <link href="STATIC/css/advsgloballb.css" rel="stylesheet" type="text/css"/>
                <script type=text/javascript src="STATIC/js/advsgloballb.js"></script>
                <div id="advsexDiv"><a href="#"><img src="STATIC/picture/advsgloballb.png"/></a></div>

                <div class="advsexList" style="background:url(STATIC/images/澳洲新西兰本科留学.jpg) center top no-repeat"><a
                        href="#"></a></div>

                <div class="advsexList" style="background:url(STATIC/images/澳洲新西兰硕士留学.jpg) center top no-repeat"><a
                        href="#"></a></div>

                <div class="advsexList" style="background:url(STATIC/images/加拿大本科留学.jpg) center top no-repeat"><a
                        href="#"></a></div>

                <div class="advsexList" style="background:url(STATIC/images/加拿大硕士留学.jpg) center top no-repeat"><a
                        href="#"></a></div>
                <div class="advsexList" style="background:url(STATIC/images/马耳他留学-1.jpg) center top no-repeat"><a
                        href="#"></a></div>

                <div class="advsexList" style="background:url(STATIC/images/美国本科留学.jpg) center top no-repeat"><a
                        href="#"></a></div>

                <div class="advsexList" style="background:url(STATIC/images/美国社区大学.jpg) center top no-repeat"><a
                        href="#"></a></div>

                <div class="advsexList" style="background:url(STATIC/images/美国硕士留学.jpg) center top no-repeat"><a
                        href="#"></a></div>
                <div class="advsexList" style="background:url(STATIC/images/欧洲留学.jpg) center top no-repeat"><a
                        href="#"></a></div>

                <div class="advsexList" style="background:url(STATIC/images/香港留学.jpg) center top no-repeat"><a
                        href="#"></a></div>

                <div class="advsexList" style="background:url(STATIC/images/英国本科留学.jpg) center top no-repeat"><a
                        href="#"></a></div>

                <div class="advsexList" style="background:url(STATIC/images/英国硕士留学.jpg) center top no-repeat"><a
                        href="#"></a></div>
            </div>

        </div>
    </div>



