{extend name="template/template" /}

{block name="body"}
<div class="x-body" style="padding-top: 0px">
    <form class="layui-form">
        <input type="hidden" name="id" value="{$Request.param.id}">

        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title" style="margin-bottom: 20px">
                <li class="layui-this">基本设置</li>
                <!--<li class="">描述SEO</li>-->
                <!--<li class="">内容</li>-->
            </ul>
            <div class="layui-tab-content " >
                <div class="layui-tab-item layui-show">

                    <div class="layui-form-item">
                        <label   class="layui-form-label">
                            <span class="x-red">*</span>规则名称
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="cname" name="title" required="" lay-verify="required" value="{$info['title']}"
                                   autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span>必填
                        </div>
                    </div>


                    <div class="layui-form-item">
                        <label  class="layui-form-label">
                            <span class="x-red">*</span>上级权限
                        </label>
                        <div class="layui-input-inline">
                            <select name="pid" >
                                <option value="0-0"  >顶级权限</option>
                                {volist name=":cateTree('auth_rule')" id="rules"}
                                <option {if condition="$info['pid'] eq $rules['id']"}selected{/if} value="{$rules.id}-{$rules.level+1}"><?php echo str_repeat("-----|",$rules['level']); ?>{$rules.title}-{$rules.level+1}</option>
                                {/volist}

                            </select>
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">栏目类型：</label>
                        <div class="layui-input-block">
                            <input type="radio" name="types" value="1" title="顶级栏目" {if condition="$info['types'] eq 1 "} checked {/if}  ><div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><div>顶级栏目</div></div>
                            <input type="radio" name="types" value="2" title="二级栏目" {if condition="$info['types'] eq 2 "} checked {/if} ><div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><div>二级栏目</div></div>
                            <input type="radio" name="types" value="3" title="三级栏目" {if condition="$info['types'] eq 3 "} checked {/if} ><div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><div>三级栏目</div></div>

                            <input type="radio" name="types" value="0" title="无" {if condition="$info['types'] eq 0 "} checked {/if} ><div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><div>无</div></div>

                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label   class="layui-form-label">
                            <span class="x-red">*</span>权限规则
                        </label>
                        <div class="layui-input-inline">
                            <input type="text"  name="name" required=""  value="{$info['name']}" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">（控制器/方法）</span>
                        </div>
                    </div>


                    <div class="layui-form-item">
                        <label   class="layui-form-label">
                            <span class="x-red">*</span>图标
                        </label>
                        <div class="layui-input-inline">
                            <input type="text"   name="icon" required=""  value="{$info['icon']}"  class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red"><a href="javascript:;" onclick="x_admin_show('图标','{:url(\'index/fonts\')}',750,500)">查看图标点我</a></span>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">是否开启：</label>
                        <div class="layui-input-block" style="width: 50px">
                            <input type="checkbox"  name="status" lay-skin="switch" value="{$info['status']}" lay-text="开启|关闭"   {if condition="$info['status'] eq 1 "}checked{/if}>
                        </div>
                    </div>

                </div>
                <div class="layui-tab-item">
                </div>
            </div>
        </div>


        <div class="layui-form-item">
            <label   class="layui-form-label">
            </label>
            <button id="btn"  type="button" class="layui-btn" lay-filter="add"  >
                修改
            </button>
        </div>
    </form>
</div>


{/block}
{block name="js"}
{include file="template/publish"}
{/block}