{extend name="template/template" /}

{block name="body"}

  <body>
    <div class="x-body" style="padding-top: 0px">
        <form class="layui-form">


            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                <ul class="layui-tab-title" style="margin-bottom: 20px">
                    <li class="layui-this">基本设置</li>
                    <!--<li class="">描述SEO</li>-->
                    <!--<li class="">内容</li>-->
                </ul>
                <div class="layui-tab-content " >
                    <div class="layui-tab-item layui-show">

                        <div class="layui-form-item">
                            <label   class="layui-form-label">
                                <span class="x-red">*</span>地区标签名称
                            </label>
                            <div class="layui-input-inline">
                                <input type="text" id="cname" name="title"  value=""
                                       autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">
                                <span class="x-red">*</span>必填
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label   class="layui-form-label">
                                <span class="x-red">*</span>英文名称
                            </label>
                            <div class="layui-input-inline">
                                <input type="text" id="ename" name="title"  value=""
                                       autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">
                                <span class="x-red">*</span>必填
                            </div>
                        </div>


                        <div class="layui-form-item">
                            <label class="layui-form-label">背景图 </label>
                            <div class="layui-input-block">

                                <div class="layui-upload" >
                                    <div id="queue"></div>
                                    <button  id="file_upload" type="button" class="layui-btn" ><i class="layui-icon"></i>上传文件</button>
                                    <button id="back_out"  type="button" class="layui-btn layui-btn-danger">撤销上传</button>
                                    <br><img id="show_img" height="120px" src=" "  alt="上传的图片" style="display: none ;margin-top: 5px" >
                                    <input type="hidden" name="thumb" value="">
                                </div>

                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label   class="layui-form-label">
                                <span class="x-red">*</span>排序
                            </label>
                            <div class="layui-input-inline">
                                <input type="text" id="sort" name="title"  value=""
                                       autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">状态：</label>
                            <div class="layui-input-block" style="width: 50px">
                                <input type="checkbox"  name="status" lay-skin="switch" value="1" lay-text="开启|关闭" checked="checked">
                            </div>
                        </div>

                    </div>
                    <div class="layui-tab-item">

                    </div>




                </div>
            </div>


          <div class="layui-form-item">
              <label   class="layui-form-label">
              </label>
              <button id="btn"  type="button" class="layui-btn" lay-filter="add"  >
                  增加
              </button>
          </div>
      </form>
    </div>



    {/block}
    {block name="js"}
    {include file="template/publish"}
    <script type="text/javascript" src="STATIC/vendor/uploadifive/jquery.uploadifive.min.js"></script>

    <script>
        $(function() {
            $('#file_upload').uploadifive({
                'auto' : true,//是否自动上传
                //显示文件上传进度的元素id
                'queueID' : 'queue',
                //服务器端处理文件上传的文件访问路径
                'uploadScript' : "{:url('admin/cate/upimg')}",
                //设定name
                'fileObjName'      : 'website_logo',
                //发送方法
                'method'       : 'post',
                'height'        : '38',
                //绑定class
                'buttonClass'  : 'layui-btn',
                'buttonText'   : '图片上传',
                //上传完成之后的回调函数
                'onUploadComplete' : function(file, data) {

                    //json转成对象
                    data  = $.parseJSON(data)
                    if(data){
                        $("#show_img").show(400);
                        $("#show_img").attr('src','/public/'+data.website_logo);
                        $("input[name='thumb']").val(data.website_logo);
                    }

                }
            });
        });

    </script>
    {/block}