{extend name="template/ludiye" /}
{block name="link"}

<meta name="keywords" content="关键词" />
<meta name="description" content="描述" />

<style>
    #contain{height: auto!important;margin-bottom: 50px!important;}
    #top{height: 200px!important;}
    #pdv_6938{position: relative!important;}
    #pdv_6920{float: left}
    body{
        background: #F7F7F7
    }
</style>
{/block}
{block name="header"}
{/block}

{block name="content"}



<div class="channel">
    <img src="LUDIYE/images//banner2.jpg" alt="" />
</div>

<div class="menu_type_1">
    <div class="link">
        <a href="#p1" class="current">
            优势介绍
        </a>
        <a href="#p2">
            申请方案
        </a>
        <a href="#p3">
            时间规划
        </a>
        <a href="#p4">
            留学费用
        </a>
        <a href="#p5">强势专业</a>
        <a href="#p6">
            服务优势
        </a>
    </div>
</div>

<div class="block_1" id="p1">
    <div class="w1200">
        <div class="boxshadow">
            <div class="content">
                <h2 class="h2tit">优势介绍</h2>
                <div class="line"></div>
                <div class="dec">popular destination</div>
                <a href="{:url('/message')}" target='blank'  class="more">more</a>
            </div>
            <div class="listall">
                <div class="type1">
                    <div class="center">
                        <h3 class="h3tit">“三赢”-留学就业移民</h3>
                        <div class="dec">
                            留学生毕业后可获得开放式工作签的机会，只要找到工作，都有机会成功移民。
                        </div>
                    </div>
                </div>
                <div class="type2">
                    <div class="center">
                        <h3 class="h3tit">宽松的申请条件</h3>
                        <div class="dec">
                            宽松的语言要求，<p></p>申请成功率高。
                        </div>
                    </div>
                </div>
                <div class="type2">
                    <div class="center">
                        <h3 class="h3tit">优美的留学环境</h3>
                        <div class="dec">
                            风景秀丽、气候温和；宽容、文化多元的社会环境。
                        </div>
                    </div>
                </div>
                <div class="type2">
                    <div class="center">
                        <h3 class="h3tit">英联邦教育体系</h3>
                        <div class="dec">
                            教育水平高，具有国际竞争力。
                        </div>
                    </div>
                </div>
                <div class="type2">
                    <div class="center">
                        <h3 class="h3tit">灵活的教育学制</h3>
                        <div class="dec">
                            就读专业课程期间，可转专业。
                        </div>
                    </div>
                </div>
            </div>
            <a href="{:url('/message')}" target='blank'  class="more2 basebtn">想了解更多？点此免费留学规划</a>
        </div>
    </div>
</div>

<div class="block_2 type2" id="p2">
    <div class="titlemodel">
        <div class="cn">申请方案</div>
        <div class="line"></div>
    </div>
    <div class="w1200">
        <div class="content">
            <div class="hd">
                <ul>
                    <li class="current">
                        <h2 class="h2tit">途径一</h2>
                        <div class="dec">
                            本科直申
                        </div>
                    </li>
                    <li>
                        <h2 class="h2tit">途径二</h2>
                        <div class="dec">
                            研究生文凭+硕士学位
                        </div>
                    </li>
                    <li>
                        <h2 class="h2tit">途径三</h2>
                        <div class="dec">
                            学士后文凭+硕士学位
                        </div>
                    </li>
                </ul>
            </div>
            <div class="bd" style="height: 417px;background: none">
                <div class="model type2">
                    <p>
                        面向学生：大三、大四、本科毕业生
                    </p>
                    <p>
                        方案优势：宽松的录取条件，语言成绩不够可以读语言班。
                    </p>
                    <p>
                        申请条件：本科均分75+；雅思成绩6.5及以上
                    </p>
                </div>
                <div class="model type2">
                    <p>
                        面向学生：大三、大四、本科毕业生
                    </p>
                    <p>
                        方案优势：适用于专业成绩达不到直申要求的学生群体，语言成绩不够可以读语言班。
                    </p>
                    <p>
                        申请条件：本科均分70+，雅思成绩6.5及以上

                    </p>
                </div>
                <div class="model type2">
                    <p>
                        面向学生：大三、大四、本科毕业生
                    </p>
                    <p>
                        方案优势：适用于转专业学生群体（所申专业有专业相符要求），语言成绩不够可以读语言班。
                    </p>
                    <p>
                        申请条件：本科均分70+，雅思成绩6.5及以上
                    </p>
                </div>
            </div>
        </div>
    </div>
    <a href="{:url('/message')}" target='blank'  class="more basebtn">想了解更多？点此免费留学规划</a>
</div>

<div class="block_3" id="p3">
    <div class="titlemodel">
        <div class="cn">申请时间规划</div>
        <div class="line"></div>
    </div>
    <div class="items type2">
        <div class="item">
            <h2 class="h2tit">
                <img src="LUDIYE/images//s1.png" alt="" />
                <span>秋季入学</span>
            </h2>
            <div class="limit">
                <ul>
                    <li>
                        <h3 class="h3tit">1-2月</h3>
                        <div class="dec">
                            咨询了解新西兰/澳洲本科留学，规划意向院校和专业。
                        </div>
                    </li>
                    <li>
                        <h3 class="h3tit">3-6月</h3>
                        <div class="dec">
                            准备语言考试，考取雅思成绩
                        </div>
                    </li>
                    <li>
                        <h3 class="h3tit">7-8月</h3>
                        <div class="dec">
                            准备所需的申请资料
                        </div>
                    </li>
                    <li>
                        <h3 class="h3tit">9-11月</h3>
                        <div class="dec">
                            申请意向院校专业，等待有条件Offer
                        </div>
                    </li>
                    <li>
                        <h3 class="h3tit">11-12月</h3>
                        <div class="dec">
                            更新留学资料（语言成绩），等待无条件offfer
                        </div>
                    </li>
                    <li>
                        <h3 class="h3tit">次年1-2月</h3>
                        <div class="dec">
                            办理签证，出国留学
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="item">
            <h2 class="h2tit">
                <img src="LUDIYE/images//s1.png" alt="" />
                <span>春季入学</span>
            </h2>
            <div class="limit">
                <ul>
                    <li>
                        <h3 class="h3tit">1-2月</h3>
                        <div class="dec">
                            咨询了解新西兰/澳洲本科留学，规划意向院校和专业。
                        </div>
                    </li>
                    <li>
                        <h3 class="h3tit">3-7月</h3>
                        <div class="dec">
                            准备语言考试，考取雅思成绩
                        </div>
                    </li>
                    <li>
                        <h3 class="h3tit">8-9月</h3>
                        <div class="dec">
                            准备所需的申请资料
                        </div>
                    </li>
                    <li>
                        <h3 class="h3tit">10-12月</h3>
                        <div class="dec">
                            留学网申，等待有条件Offer
                        </div>
                    </li>
                    <li>
                        <h3 class="h3tit">次年1-4月</h3>
                        <div class="dec">
                            更新留学资料（语言成绩），等待无条件offfer
                        </div>
                    </li>
                    <li>
                        <h3 class="h3tit">次年5-7月</h3>
                        <div class="dec">
                            办理签证，出国留学
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <a href="{:url('/message')}" target='blank'  class="more basebtn">想了解更多？点此免费留学规划</a>
</div>
<div class="block_4" id="p4">
    <div class="titlemodel">
        <div class="cn">留学费用</div>
        <div class="line"></div>
        <div class="dec">characteristic</div>
    </div>
    <div class="height"></div>
    <h3 class="h3tit">澳洲八大</h3>
    <div class="list">
        <ul>
            <li>
                <h4 class="h4tit">文科类</h4>
                <div class="dashed"></div>
                <div class="en">English Course for Young Children</div>
                <div class="decsr">
                    <p>
                        澳洲国立大学最高，约42000澳元/年；
                    </p>
                    <p>
                        其次是悉尼大学，约39000澳元/年；
                    </p>
                    <p>
                        其余6所学费在31000-35000澳元/年。
                    </p>
                </div>
                <a href="{:url('/message')}" target='blank'  class="more">了解详情 ></a>
            </li>
            <li>
                <h4 class="h4tit">商科类</h4>
                <div class="dashed"></div>
                <div class="en">English Course for Young Children</div>
                <div class="decsr">
                    <p>
                        除阿德莱德大学和西澳大学，
                    </p>
                    <p>
                        其余6所学费在40000-44000澳元/年。
                    </p>
                </div>
                <a href="{:url('/message')}" target='blank'  class="more">了解详情 ></a>
            </li>
            <li>
                <h4 class="h4tit">工科类</h4>
                <div class="dashed"></div>
                <div class="en">English Course for Young Children</div>
                <div class="decsr">
                    <p>
                        除阿德莱德大学和西澳大学，
                    </p>
                    <p>
                        其余6所学费在43000-46500澳元/年。
                    </p>
                </div>
                <a href="{:url('/message')}" target='blank'  class="more">了解详情 ></a>
            </li>
        </ul>
    </div>
    <h3 class="h3tit">新西兰八大</h3>
    <div class="list">
        <ul>
            <li>
                <h4 class="h4tit">文科类</h4>
                <div class="dashed"></div>
                <div class="en">English Course for Young Children</div>
                <div class="decsr">
                    <p>
                        奥克兰大学和怀卡托大学学费最贵，
                    </p>
                    <p>
                        31000-36000新西兰币/年；
                    </p>
                    <p>
                        其余6所学费在24000-32000新西兰币/年。
                    </p>
                </div>
                <a href="{:url('/message')}" target='blank'  class="more">了解详情 ></a>
            </li>
            <li>
                <h4 class="h4tit">商科类</h4>
                <div class="dashed"></div>
                <div class="en">English Course for Young Children</div>
                <div class="decsr">
                    <p>
                        奥克兰大学学费最贵，37000+新西兰币/年；
                    </p>
                    <p>
                        其次是奥克兰理工大学和坎特伯雷大学，
                    </p>
                    <p>
                        30000+新西兰币/年；其余5所，
                    </p>
                    <p>
                        学费在27000-30000新西兰币/年。
                    </p>
                </div>
                <a href="{:url('/message')}" target='blank'  class="more">了解详情 ></a>
            </li>
            <li>
                <h4 class="h4tit">工科类</h4>
                <div class="dashed"></div>
                <div class="en">English Course for Young Children</div>
                <div class="decsr">
                    <p>
                        奥克兰大学和坎特伯雷大学学费最贵，
                    </p>
                    <p>
                        40000-45000新西兰币/年；
                    </p>
                    <p>
                        其次6所学费在30000-40000新西兰币/年。
                    </p>
                </div>
                <a href="{:url('/message')}" target='blank'  class="more">了解详情 ></a>
            </li>
        </ul>
    </div>
</div>

<div class="block_5">
    <h2 class="h2tit">
        生活费
    </h2>
    <div class="lines">
        <p>
            澳洲
        </p>
        <p>
            新西兰
        </p>
    </div>
    <div class="items">
        <div class="item">
            <p>
                悉尼生活费190000-200000人民币/年；其他地区<br />生活费150000-160000人民币/年。<br />不同消费水平有较大差异，具体费用分类如下：<br />
                1)租房：悉尼开支最高，约60,000人民币/年；<br />
                其他地区开支约55000人民币/年。<br />
                2)餐饮费：悉尼开支最高，约70000人民币/年；<br />
                其他地区开支约60000人民币/年。<br />
                3)交通费：悉尼开支最高，约13500人民币/年；<br />
                其他地区开支约6200人民币/年。<br />
                4)杂费：悉尼开支最高，约50000人民币/年；<br />
                其他地区开支约30000人民币/年。
            </p>
        </div>
        <div class="item">
            <p>
                生活费11000-12000人民币/年；<br />
                不同消费水平有较大差异，具体费用分类如下：<br />
                1)租房：约58000-60000人民币/年。<br />
                2)餐饮费：约12000-13000人民币/年。<br />
                3)交通费：约12000-13000人民币/年。<br />
                4)杂费：约29000-30000人民币/年。
            </p>
        </div>
    </div>
    <a href="{:url('/message')}" target='blank'  class="more basebtn">想了解更多？点此免费留学规划</a>
</div>


<div class="block_6_6" id="p5">
	<div class="titlemodel">
		<div class="cn">强势专业</div>
		<div class="line"></div>
	</div>
	<div class="tab">
		<div class="hd">
			<a href="javascript:;">墨尔本大学</a>
			<a href="javascript:;">悉尼大学</a>
			<a href="javascript:;">澳洲国立<br />大学</a>
			<a href="javascript:;">新南威尔士<br />大学</a>
			<a href="javascript:;">昆士兰大学</a>
			<a href="javascript:;">奥克兰大学</a>
		</div>
		<div class="bd">
			<div class="model">
				<div class="left">
					2020TIMES世界专业排名
				</div>
				<div class="right">
					<p>
						商科类（38th）
					</p>
					<p>
						医疗健康（14th）
					</p>
					<p>
						法律（12th）
					</p>
					<p>
						教育（25th）
					</p>
				</div>
			</div>
			<div class="model">
				<div class="left">
					2020TIMES世界专业排名
				</div>
				<div class="right">
					<p>
						医学健康（39th）
					</p>
					<p>
						法律（38th）
					</p>
					<p>
						教育(57th）
					</p>
					<p>
						生命科学（57th）
					</p>
				</div>
			</div>
			<div class="model">
				<div class="left">
					2020TIMES世界专业排名
				</div>
				<div class="right">
					<p>
						商科类（63rd）
					</p>
					<p>
						工程科技（81st）
					</p>
					<p>
						法律（42nd）
					</p>
					<p>
						文科类（33rd）
					</p>
				</div>
			</div>
			<div class="model">
				<div class="left">
					2020TIMES世界专业排名
				</div>
				<div class="right">
					<p>
						商科类（70th）
					</p>
					<p>
						法律（23rd）
					</p>
					<p>
						工程类（71st）
					</p>
				</div>
			</div>
			<div class="model">
				<div class="left">
					2020TIMES世界专业排名
				</div>
				<div class="right">
					<p>
						生命科学（42nd）
					</p>
					<p>
						商科类（55th）
					</p>
					<p>
						教育（46th）
					</p>
					<p>
						法律（58th）
					</p>
				</div>
			</div>
			<div class="model">
				<div class="left">
					2020TIMES世界专业排名
				</div>
				<div class="right">
					<p>
						教育(46th）
					</p>
					<p>
						心理学（88th）
					</p>
				</div>
			</div>
		</div>
	</div>

	<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank'  class="more basebtn">想了解更多？点此免费留学规划</a>
</div>




<div class="block_7" id="p6">
    <div class="titlemodel">
        <div class="cn">服务优势</div>
        <div class="line"></div>
    </div>
    <div class="base_type_block_all fw nogb">
        <div class="type0">
            <h2 class="h2tit_base"><span>“三对一”服务，全程全时</span></h2>
            <div class="contbox">
                <div class="list">
                    <p>
                        <strong>留学管家：</strong><span>全程监督服务质量，保证留学申请顺利进行</span>
                    </p>
                    <p>
                        <strong>文案老师：</strong><span>985/211本科或海归硕士，文书质量高，合理 规避薄弱项，润色突出优势项</span>
                    </p>
                    <p>
                        <strong>留学顾问：</strong><span>留学整体规划，涉及选校，协助申请、签证 指导和行前指导</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="type1">
            <h2 class="h2tit_base"><span>全程服务透明化</span></h2>
            <div class="list">
                <ul>
                    <li>
                        <div class="icon">
                            <img src="LUDIYE/images//gh1.png" alt="">
                        </div>
                        <div class="tit">
                            留学管家
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <img src="LUDIYE/images//gh2.png" alt="">
                        </div>
                        <div class="tit">
                            邮件
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <img src="LUDIYE/images//gh3.png" alt="">
                        </div>
                        <div class="tit">
                            申请者
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="type2">
            <h2 class="h2tit_base"><span>全程服务可追踪</span></h2>
            <div class="list">
                <ul>
                    <li>
                        <div class="imgbox">
                            <img src="LUDIYE/images//gz1.png" alt="">
                        </div>
                        <div class="title">
                            <div class="left">01</div>
                            <div class="right">
                                点击“服务查询”栏目<br>(官网或公众号)
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="imgbox">
                            <img src="LUDIYE/images//gz2.png" alt="">
                        </div>
                        <div class="title">
                            <div class="left">02</div>
                            <div class="right">
                                输入服务编号
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="imgbox">
                            <img src="LUDIYE/images//gz3.png" alt="">
                        </div>
                        <div class="title">
                            <div class="left">03</div>
                            <div class="right">
                                即可随时随地查询<br>申请进度
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <h2 class="h2tit">免费留学申请规划</h2>
    <div class="tabox">
        <form action="" id="myform">
            <input type="text" name="name" placeholder="姓名" class="words s1" />
            <input type="text" name="weixin" placeholder="微信" class="words s2" />
            <input type="text" name="mobile" placeholder="手机号" class="words s3" />
            <input type="button" id="send" value="立即预约" class="send" />
            <div class="tel">
                <p>咨询热线：</p>
                <div class="val">
                    400-8010-621
                </div>
            </div>
        </form>
    </div>
</div>

<script>

    $('.block_2 .content .hd li').eq(0).addClass('current');
    $('.block_2 .content .bd .model').hide()
    $('.block_2 .content .bd .model').eq(0).show()
    $('.block_2 .content .hd li').click(function(){
        var thisa=$('.block_2 .content .hd li').index(this);
        $('.block_2 .content .hd li').removeClass('current');
        $(this).addClass('current');
        $('.block_2 .content .bd .model').not($('.block_2 .content .bd .model').eq(thisa)).hide();
        $('.block_2 .content .bd .model').eq(thisa).stop()
        $('.block_2 .content .bd .model').eq(thisa).fadeIn(100)
    })


    $('.block_6_6 .tab .hd a').eq(0).addClass('current');
    $('.block_6_6 .tab .bd .model').hide()
    $('.block_6_6 .tab .bd .model').eq(0).show()
    $('.block_6_6 .tab .hd a').click(function(){
        var thisa=$('.block_6_6 .tab .hd a').index(this);
        $('.block_6_6 .tab .hd a').removeClass('current');
        $(this).addClass('current');
        $('.block_6_6 .tab .bd .model').not($('.block_6_6 .tab .bd .model').eq(thisa)).hide();
        $('.block_6_6 .tab .bd .model').eq(thisa).stop()
        $('.block_6_6 .tab .bd .model').eq(thisa).fadeIn(100)
    })





</script>




{/block}
<!--底部-->

{block name="script"}

{/block}
