{extend name="template/ludiye" /}
{block name="link"}

<meta name="keywords" content="关键词" />
<meta name="description" content="描述" />

<style>
    #contain{height: auto!important;margin-bottom: 50px!important;}
    #top{height: 200px!important;}
    #pdv_6938{position: relative!important;}
    #pdv_6920{float: left}
    body{
        background: #F7F7F7
    }
</style>
{/block}
{block name="header"}
{/block}

{block name="content"}


<div class="channel">
    <img src="LUDIYE/images//banner9.jpg" alt="" />
</div>

<div class="menu_type_6">
    <div class="link">
        <a href="#p1" class="current">
            优势介绍
        </a>
        <a href="#p2">
            申请方案
        </a>
        <a href="#p3">
            欧洲奖学金
        </a>
        <a href="#p5">院校推荐</a>
        <a href="#p6">
            王牌专业
        </a>
        <a href="#p7">本科申请途径 </a>
        <a href="#p8">研究生申请途径 </a>
        <a href="#p9">服务优势</a>
    </div>
</div>


<div class="main oz">
    <div class="block_type_1" id="p1">
        <div class="titlemodel2">
            为什么选择去欧洲留学？
        </div>
        <div class="list clearflex">
            <ul>
                <li>
                    <div class="icon">
                        <img src="LUDIYE/images//mv1.png" alt="" />
                    </div>
                    <div class="title">奖学金多样</div>
                    <div class="dec">留学生可申请政府奖学金和院校奖学金，基本覆盖学费，部分还有生活补贴。</div>
                </li>
                <li>
                    <div class="icon">
                        <img src="LUDIYE/images//mv2.png" alt="" />
                    </div>
                    <div class="title">高质量教学</div>
                    <div class="dec">医学、理工科世界领先。</div>
                </li>
                <br />
                <li>
                    <div class="icon">
                        <img src="LUDIYE/images//mv3.png" alt="" />
                    </div>
                    <div class="title">留学生合法打工</div>
                    <div class="dec">欧洲院校允许留学生勤工俭学，打工合法，减轻留学经济负担。</div>
                </li>
                <li>
                    <div class="icon">
                        <img src="LUDIYE/images//mv4.png" alt="" />
                    </div>
                    <div class="title">获得申根签证</div>
                    <div class="dec">畅行26个申根国，留学的同时畅游欧洲。</div>
                </li>
                <li>
                    <div class="icon">
                        <img src="LUDIYE/images//mv5.png" alt="" />
                    </div>
                    <div class="title">提供实习机会</div>
                    <div class="dec">部分专业提供留学地实习机会，回国就业认可度高</div>
                </li>
            </ul>
        </div>
        <a href="{:url('/message')}" target='blank'  class="more_base">想了解更多？点此免费留学规划</a>
    </div>
    <img src="LUDIYE/images//oz.jpg" style="display: block;width: 100%;" alt="" />
    <div class="block_type_2" id="p2">
        <div class="titlemodel2">
            欧洲留学申请方案
        </div>
        <div class="tab">
            <div class="hd  clearflex">
                <a href="javascript:;"><span class="tit">途径一 </span><span class="dec"><span>直申本科</span></span></a>
                <a href="javascript:;"><span class="tit">途径二 </span><span class="dec"><span>预科+本科</span></span></a>
                <a href="javascript:;"><span class="tit">途径三 </span><span class="dec"><span>直申硕士</span></span></a>
                <a href="javascript:;"><span class="tit">途径四 </span><span class="dec"><span style="font-size: 23px;">欧盟Erasmus+项目</span></span></a>
            </div>
            <div class="bd">
                <div class="model">
                    <div class="item">
                        <div class="tit">面向学生</div>
                        <div class="dec">
                            高中毕业生
                        </div>
                        <img src="LUDIYE/images//zl1.png" alt="" />
                    </div>
                    <div class="item">
                        <div class="tit">项目优势</div>
                        <div class="dec">
                            无需高考成绩，适合高考失利的学生群体
                        </div>
                        <img src="LUDIYE/images//zl2.png" alt="" />
                    </div>
                    <div class="item">
                        <div class="tit">申请要求</div>
                        <div class="dec">
                            高中毕业证、高中成绩达到录取标准、语言成绩（雅思6.5左右）
                        </div>
                        <img src="LUDIYE/images//zl3.png" alt="" />
                    </div>
                </div>
                <div class="model">
                    <div class="item">
                        <div class="tit">面向学生</div>
                        <div class="dec">
                            高中毕业生
                        </div>
                        <img src="LUDIYE/images//zl1.png" alt="" />
                    </div>
                    <div class="item">
                        <div class="tit">项目优势</div>
                        <div class="dec">
                            无需高考成绩，适合高考失利的学生群体
                        </div>
                        <img src="LUDIYE/images//zl2.png" alt="" />
                    </div>
                    <div class="item">
                        <div class="tit">申请要求</div>
                        <div class="dec">
                            高中毕业证、高中成绩、语言成绩（雅思5.5左右）
                        </div>
                        <img src="LUDIYE/images//zl3.png" alt="" />
                    </div>
                </div>
                <div class="model">
                    <div class="item">
                        <div class="tit">面向学生</div>
                        <div class="dec">
                            大四、本科毕业
                        </div>
                        <img src="LUDIYE/images//zl1.png" alt="" />
                    </div>
                    <div class="item">
                        <div class="tit">学制</div>
                        <div class="dec">
                            1-2年（有英语授课）
                        </div>
                        <img src="LUDIYE/images//zl2.png" alt="" />
                    </div>
                    <div class="item">
                        <div class="tit">申请要求</div>
                        <div class="dec" style="width: 90%;font-size: 15px;text-align: left;font-weight: bold;">
                            <p>1)	成绩要求：985/211：75/100以上；非985/211：80/100以上</p>
                            <p>2)	语言要求：雅思6.5左右或托福90左右</p>
                            <p>3)	申请材料：GMAT/GRE（部分专业）、成绩单、动机信、2封推荐信、个人简历等</p>
                        </div>
                        <img src="LUDIYE/images//zl3.png" alt="" />
                    </div>
                </div>
                <div class="model">
                    <div class="item">
                        <div class="tit">面向学生</div>
                        <div class="dec">
                            大四、本科毕业
                        </div>
                        <img src="LUDIYE/images//zl1.png" alt="" />
                    </div>
                    <div class="item">
                        <div class="tit">项目优势</div>
                        <div class="dec">
                            奖学金覆盖面广，学费全免，还补贴部分生活开支。
                        </div>
                        <img src="LUDIYE/images//zl2.png" alt="" />
                    </div>
                    <div class="item">
                        <div class="tit">申请要求</div>
                        <div class="dec" style="width: 90%;font-size: 15px;text-align: left;font-weight: bold;">
                            <p>1)	成绩要求：985/211：75/100以上；非985/211：80/100以上</p>
                            <p>2)	语言要求：雅思6.5及以上或托福90及以上（少数专业成绩要求低一些）</p>
                            <p>3)	申请材料：学位证书、大学成绩单、动机信、2封推荐信等</p>
                        </div>
                        <img src="LUDIYE/images//zl3.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
        <a href="{:url('/message')}" target='blank'  class="more_base">想了解更多？点此免费留学规划</a>
    </div>

    <style>
        .item .dec p{
            font-weight: bold;
        }
    </style>
    <div class="block_type_3_3" id="p3">
        <div class="titlemodel2">
            欧洲奖学金
        </div>
        <div class="list">
            <ul>
                <li>
                    <div class="imgbox">
                        <img src="LUDIYE/images//im1.jpg" alt="" />
                    </div>
                    <div class="conbox">
                        <img src="LUDIYE/images//jt1.png" alt="" />
                        <div class="tit">Erasmus+ 奖学金项目</div>
                        <div class="dec">Erasmus Mundus联合硕士学位（EMJMD）是一个享有盛誉的综合性国际学习课程，全球学生可申请。每年，EMJMDs项目奖励欧盟奖学金给最佳学生候选人。参加项目的学生，会在至少两个计划国家完成学业，学制为1-2年。毕业后，部分项目颁发双学位，部分颁发多个大学联合学位。硕士奖学金约为25000欧元/年，其中包括学费、旅行费、日常津贴等。</div>
                        <a href="{:url('/message')}" target='blank'  class="more_base">想了解更多？免费留学规划</a>
                    </div>
                </li>
                <li>
                    <div class="imgbox">
                        <img src="LUDIYE/images//im2.jpg" alt="" />
                    </div>
                    <div class="conbox">
                        <img src="LUDIYE/images//jt2.png" alt="" />
                        <div class="tit">丹麦政府奖学金</div>
                        <div class="dec">丹麦政府为高素质的非欧盟学生提供奖学金，鼓励支持当地的高等教育。不同丹麦大学奖学金数量不同。另外奖学金也因国家而异，丹麦政府为每位中国留学硕士生/博士提供5或10个月（1或2个学期）的奖学金。</div>
                        <a href="{:url('/message')}" target='blank'  class="more_base">想了解更多？免费留学规划</a>
                    </div>
                </li>
                <li>
                    <div class="imgbox">
                        <img src="LUDIYE/images//im3.jpg" alt="" />
                    </div>
                    <div class="conbox">
                        <img src="LUDIYE/images//jt1.png" alt="" />
                        <div class="tit">瑞典大学奖学金</div>
                        <div class="dec">瑞典政府为国际学生提供一系列不同的奖学金项目，以帮助支付部分/全部学费，或补贴生活费用。具体奖学金因不同瑞典大学而异。</div>
                        <a href="{:url('/message')}" target='blank'  class="more_base">想了解更多？免费留学规划</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="tit2">
            以下大学提供奖学金项目申请(部分名单)
        </div>
        <div class="list2">
            <p>
                Chalmers University of Technology <br />
                Dalarna University
            </p>
            <p>
                KTH Royal Institute of Technology <br />
                Linköping University
            </p>
            <p>
                Mälardalen University <br />
                Swedish University of Agricultural Sciences
            </p>
            <p>
                University of Borås <br />
                University of Gothenburg
            </p>
        </div>
        <a href="{:url('/message')}" target='blank'  class="more_base">想了解更多？免费查看完整排名</a>
    </div>
    <img src="LUDIYE/images//dh.jpg" style="display: block;width: 100%;" alt="" />


	<div class="block_type_6" id="p5">
		<h2 class="titlex">2021 QS世界大学排名榜（欧洲院校）</h2>
		<div class="list">
			<div class="title">
				<div class="s1">
					排名
				</div>
				<div class="s2">
					University
				</div>
				<div class="s3">
					大学名称
				</div>
				<div class="s4">
					国家
				</div>
			</div>
			<div class="listall">
				<p>
					<span class="s1">6</span>
					<span class="s2">ETH Zurich - Swiss Federal Institute of Technology</span>
					<span class="s3">苏黎世联邦理工学院 </span>
					<span class="s4">
						<em>瑞士</em>
						<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多	免费留学规划</a>
					</span>
				</p>
				<p>
					<span class="s1">14</span>
					<span class="s2">EPFL - Ecole Polytechnique Federale de Lausanne</span>
					<span class="s3">洛桑联邦理工学院</span>
					<span class="s4">
						<em>瑞士</em>
						<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多	免费留学规划</a>
					</span>
				</p>
				<p>
					<span class="s1">50</span>
					<span class="s2">Technical University of Munich</span>
					<span class="s3">慕尼黑工业大学</span>
					<span class="s4">
						<em>德国</em>
						<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多	免费留学规划</a>
					</span>
				</p>
				<p>
					<span class="s1">52</span>
					<span class="s2">Université PSL</span>
					<span class="s3">巴黎文理研究大学</span>
					<span class="s4">
						<em>法国</em>
						<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多	免费留学规划</a>
					</span>
				</p>
				<p>
					<span class="s1">57</span>
					<span class="s2">Delft University of Technology</span>
					<span class="s3">代尔夫特理工大学</span>
					<span class="s4">
						<em>荷兰</em>
						<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多	免费留学规划</a>
					</span>
				</p>
				<p>
					<span class="s1">61</span>
					<span class="s2">Ecole Polytechnique</span>
					<span class="s3">巴黎综合理工学院</span>
					<span class="s4">
						<em>法国</em>
						<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多	免费留学规划</a>
					</span>
				</p>
				<p>
					<span class="s1">61</span>
					<span class="s2">University of Amsterdam</span>
					<span class="s3">阿姆斯特丹大学</span>
					<span class="s4">
						<em>荷兰</em>
						<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多	免费留学规划</a>
					</span>
				</p>
				<p>
					<span class="s1">63</span>
					<span class="s2">Ludwig-Maximilians-Universität München</span>
					<span class="s3">慕尼黑大学</span>
					<span class="s4">
						<em>德国</em>
						<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多	免费留学规划</a>
					</span>
				</p>
				<p>
					<span class="s1">64</span>
					<span class="s2">Ruprecht-Karls-Universität Heidelberg</span>
					<span class="s3">海德堡大学</span>
					<span class="s4">
						<em>德国</em>
						<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多	免费留学规划</a>
					</span>
				</p>
				<p>
					<span class="s1">69</span>
					<span class="s2">University of Zurich</span>
					<span class="s3">苏黎世大学</span>
					<span class="s4">
						<em>瑞士</em>
						<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多	免费留学规划</a>
					</span>
				</p>
				<p>
					<span class="s1">74</span>
					<span class="s2">Lomonosov Moscow State University</span>
					<span class="s3">莫斯科罗蒙诺索夫国立大学</span>
					<span class="s4">
						<em>俄罗斯</em>
						<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多	免费留学规划</a>
					</span>
				</p>
				<p>
					<span class="s1">76</span>
					<span class="s2">University of Copenhagen</span>
					<span class="s3">哥本哈根大学</span>
					<span class="s4">
						<em>丹麦</em>
						<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多	免费留学规划</a>
					</span>
				</p>
				<p>
					<span class="s1">83</span>
					<span class="s2">Sorbonne University</span>
					<span class="s3">索邦大学</span>
					<span class="s4">
						<em>法国</em>
						<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多	免费留学规划</a>
					</span>
				</p>
				<p>
					<span class="s1">84</span>
					<span class="s2">KU Leuven</span>
					<span class="s3">鲁汶大学</span>
					<span class="s4">
						<em>比利时</em>
						<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多	免费留学规划</a>
					</span>
				</p>
				<p>
					<span class="s1">97</span>
					<span class="s2">Lund University</span>
					<span class="s3">隆德大学</span>
					<span class="s4">
						<em>瑞典</em>
						<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多	免费留学规划</a>
					</span>
				</p>
                                                                <p>
					<span class="s1">98</span>
					<span class="s2"> KTH Royal Institute of Technology</span>
					<span class="s3">皇家理工学院</span>
					<span class="s4">
						<em>瑞典</em>
						<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多	免费留学规划</a>
					</span>
                                                               </p>
                                                               <p>
					<span class="s1">101</span>
					<span class="s2">Trinity College Dublin, The University of Dublin</span>
					<span class="s3">都柏林大学，圣三一学院</span>
					<span class="s4">
						<em>爱尔兰</em>
						<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多	免费留学规划</a>
					</span>
				</p>
			</div>
		</div>
		<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank'  class="more_base">想了解更多？免费查看完整排名</a>
	</div>


	<div class="usa_type_2" id="p6">
		<div class="titlemodel4">王牌专业</div>
		<div class="list2">
			<ul>
				<li>
					<h2 class="h2tit">商科类（2020TIMES世界排名）</h2>
					<div class="line"></div>
					<div class="dec">
						<p>瑞士苏黎世联邦理工学院（12th )；</p>
						<p>荷兰蒂尔堡大学 (33rd)；</p>
						<p>荷兰鹿特丹大学（28th）; </p>
						<p>丹麦哥本哈根商学院(35th ); </p>
						<p>瑞士苏黎世大学（51nd）;</p>
						<p>比利时鲁汶大学（66th）;</p>
					</div>
					<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank'  class="more">免费留学规划</a>
				</li>
				<li>
					<h2 class="h2tit">工程类（2020TIMES世界排名）</h2>
					<div class="line"></div>
					<div class="dec">
						<p>瑞士苏黎世联邦理工（8th）;</p>
						<p>瑞士洛桑联邦理工学院（19th）; </p>
						<p>荷兰代尔夫特理工大学（21st）； </p>
						<p>比利时鲁汶大学（48th）;  </p>
						<p>瑞典皇家理工学院(62nd)；</p>
						<p>丹麦科技大学（69th）</p>
					</div>
					<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank'  class="more">免费留学规划</a>
				</li>
				<li>
					<h2 class="h2tit">教育（2020TIMES世界排名）</h2>
					<div class="line"></div>
					<div class="dec">
						<p>荷兰乌得勒支大学（35th）；</p>
						<p>荷兰马斯特里赫特大学（23rd）；</p>
						<p>德国慕尼黑大学（54th）; </p>
						<p>德国汉堡大学（67th）</p>
						<p>芬兰赫尔辛基大学（60th）; </p>
						<p>比利时鲁汶大学（44th）</p>
					</div>
					<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank'  class="more">免费留学规划</a>
				</li>
				<li>
					<h2 class="h2tit">法律（2020TIMES世界排名）</h2>
					<div class="line"></div>
					<div class="dec">
						<p>比利时鲁汶大学（31st）; </p>
						<p>荷兰莱顿大学（27th）; </p>
						<p>瑞典隆德大学（50th）; </p>
						<p>荷兰阿姆斯特丹大学（29th）; </p>
						<p>丹麦哥本哈根大学（47th）; </p>
						<p>荷兰蒂尔堡大学（52nd）</p>
					</div>
					<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank'  class="more">免费留学规划</a>
				</li>
			</ul>
		</div>
		<div class="titlemodel4" id="p7">欧洲本科申请途径</div>
		<div class="list">
			<ul>
				<li>
					<h2 class="h2tit">途径一 直申本科</h2>
					<div class="line"></div>
					<div class="dec">
						<p>面向学生：高三、高中毕业</p>
						<p>面向学生：高中毕业生</p>
						<p>本科学制：3-4年（有英语授课）</p>
						<p>留学优势：无需高考成绩，适合高考失利的学生群体</p>
						<p>申请条件：高中毕业证、高中成绩达到录取标准、语言成绩（雅思6.5左右）</p>
					</div>
					<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank'  class="more">免费留学规划</a>
				</li>
				<li>
					<h2 class="h2tit">途径二 “预科+本科</h2>
					<div class="line"></div>
					<div class="dec">
						<p>面向学生：高中毕业生</p>
						<p>本科学制：3-4年（有英语授课） </p>
						<p>留学优势：无需高考成绩，适合高考失利的学生群体 </p>
						<p>申请条件：高中毕业证、高中成绩、语言成绩（雅思5.5左右） </p>
					</div>
					<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank'  class="more">免费留学规划</a>
				</li>
			</ul>
		</div>
		<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank'  class="more_base">想了解更多？免费申请力学规划</a>
		<div class="height90"></div>
		<div class="titlemodel4" id="p8">欧洲硕士申请途径</div>
		<div class="list list3">
			<ul>
				<li>
					<h2 class="h2tit">途径一：直申硕士</h2>
					<div class="line"></div>
					<div class="dec">
						<p>面向学生：大四、本科毕业</p>
						<p>学制：1-2年（有英语授课）</p>
						<p>申请条件</p>
						<p>1)成绩要求：985/211：75/100以上；非985/211：80/100以上</p>
						<p>2)语言要求：雅思6.5左右或托福90左右</p>
						<p>3)申请材料：GMAT/GRE（部分专业）、成绩单、动机信、2封推荐信、个人简历等</p>
					</div>
					<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank'  class="more">免费留学规划</a>
				</li>
				<li>
					<h2 class="h2tit">途径二：欧盟Erasmus+项目</h2>
					<div class="line"></div>
					<div class="dec">
						<p>面向学生：大四、本科毕业</p>
						<p>学制：1-2年（有英语授课）</p>
						<p>项目优势：奖学金覆盖面广，学费全免，还补贴部分生活开支。 </p>
						<p>申请条件 </p>
						<p>成绩要求：985/211：75/100以上；非985/211：80/100以上</p>
						<p>语言要求：雅思6.5及以上或托福90及以上（少数专业成绩要求低一些）</p>
						<p>申请材料：学位证书、大学成绩单、动机信、2封推荐信等</p>
					</div>
					<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank'  class="more">免费留学规划</a>
				</li>
			</ul>
		</div>
		<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank'  class="more_base">想了解更多？免费申请力学规划</a>
	</div>

    <div class="titlemodel4" id="p9">服务优势</div>
    <div class="height116"></div>


    <div class="base_type_block_all style5">
        <div class="type0">
            <h2 class="h2tit_base"><span>“三对一”服务，全程全时</span></h2>
            <div class="contbox">
                <div class="list">
                    <p>
                        <strong>留学管家：</strong><span>全程监督服务质量，保证留学申请顺利进行</span>
                    </p>
                    <p>
                        <strong>文案老师：</strong><span>985/211本科或海归硕士，文书质量高，合理 规避薄弱项，润色突出优势项</span>
                    </p>
                    <p>
                        <strong>留学顾问：</strong><span>留学整体规划，涉及选校，协助申请、签证 指导和行前指导</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="type1">
            <h2 class="h2tit_base"><span>全程服务透明化</span></h2>
            <div class="list">
                <ul>
                    <li>
                        <div class="icon">
                            <img src="LUDIYE/images//gh1.png" alt="">
                        </div>
                        <div class="tit">
                            留学管家
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <img src="LUDIYE/images//gh2.png" alt="">
                        </div>
                        <div class="tit">
                            邮件
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <img src="LUDIYE/images//gh3.png" alt="">
                        </div>
                        <div class="tit">
                            申请者
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="type2">
            <h2 class="h2tit_base"><span>全程服务可追踪</span></h2>
            <div class="list">
                <ul>
                    <li>
                        <div class="imgbox">
                            <img src="LUDIYE/images//gz1.png" alt="">
                        </div>
                        <div class="title">
                            <div class="left">01</div>
                            <div class="right">
                                点击“服务查询”栏目<br>(官网或公众号)
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="imgbox">
                            <img src="LUDIYE/images//gz2.png" alt="">
                        </div>
                        <div class="title">
                            <div class="left">02</div>
                            <div class="right">
                                输入服务编号
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="imgbox">
                            <img src="LUDIYE/images//gz3.png" alt="">
                        </div>
                        <div class="title">
                            <div class="left">03</div>
                            <div class="right">
                                即可随时随地查询<br>申请进度
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>






</div>




<div class="footer bg6">
    <h2 class="h2tit">免费留学申请规划</h2>
    <div class="tabox">
        <form action="" id="myform">
            <input type="text" name="name" placeholder="姓名" class="words s1" />
            <input type="text" name="weixin" placeholder="微信" class="words s2" />
            <input type="text" name="mobile" placeholder="手机号" class="words s3" />
            <input type="button" id="send" value="立即预约" class="send" />
            <div class="tel">
                <p>咨询热线：</p>
                <div class="val">
                    400-8010-621
                </div>
            </div>
        </form>
    </div>
</div>
<script>

    $('.block_type_2 .tab .hd a').eq(0).addClass('current');
    $('.block_type_2 .tab .bd .model').hide()
    $('.block_type_2 .tab .bd .model').eq(0).show()
    $('.block_type_2 .tab .hd a').click(function(){
        var thisa=$('.block_type_2 .tab .hd a').index(this);
        $('.block_type_2 .tab .hd a').removeClass('current');
        $(this).addClass('current');
        $('.block_type_2 .tab .bd .model').not($('.block_type_2 .tab .bd .model').eq(thisa)).hide();
        $('.block_type_2 .tab .bd .model').eq(thisa).stop()
        $('.block_type_2 .tab .bd .model').eq(thisa).fadeIn(100)
    })

</script>



{/block}
<!--底部-->

{block name="script"}

{/block}
