{extend name="template/ludiye" /}
{block name="link"}

<meta name="keywords" content="关键词" />
<meta name="description" content="描述" />

<style>
    #contain{height: auto!important;margin-bottom: 50px!important;}
    #top{height: 200px!important;}
    #pdv_6938{position: relative!important;}
    #pdv_6920{float: left}
    body{
        background: #F7F7F7
    }
</style>
{/block}
{block name="header"}
{/block}

{block name="content"}


<div class="channel">
    <img src="LUDIYE/images//banner3.jpg" alt="" />
</div>

<div class="menu_type_2">
    <div class="link">
        <a href="#p1" class="current">
            优势介绍
        </a>
        <a href="#p2">
            申请方案
        </a>
        <a href="#p3">
            时间规划
        </a>
        <a href="#p4">
            留学费用
        </a>
        <a href="#p5">院校推荐</a>
        <a href="#p6">
            服务优势
        </a>
    </div>
</div>


<div class="main">
    <div class="block_type_1" id="p1">
        <div class="titlemodel2">
            为什么选择去加拿大留学？
        </div>
        <div class="list clearflex">
            <ul>
                <li>
                    <div class="icon">
                        <img src="LUDIYE/images//m1.png" alt="" />
                    </div>
                    <div class="title">教育质量世界翘楚</div>
                    <div class="dec">与美国、英国并称世界教育的翘楚；既承袭了英式教育的严谨传统，又借鉴了美式教育的先进自由。</div>
                </li>
                <li>
                    <div class="icon">
                        <img src="LUDIYE/images//m2.png" alt="" />
                    </div>
                    <div class="title">文凭世界认可度高</div>
                    <div class="dec">众多世界百强院校；文凭回国认可度高，也便于他国继续读书深造。</div>
                </li>
                <li>
                    <div class="icon">
                        <img src="LUDIYE/images//m3.png" alt="" />
                    </div>
                    <div class="title">教育学制灵活</div>
                    <div class="dec">灵活的转学分制度；大部分学校接受来自在读学生的转学申请。</div>
                </li>
                <li>
                    <div class="icon">
                        <img src="LUDIYE/images//m4.png" alt="" />
                    </div>
                    <div class="title">“双赢”-移民&就业</div>
                    <div class="dec">留学两年，可获得三年的工作签证；若留居加拿大，移民成功率高，若回国，国内百强公司的雇佣机会大。</div>
                </li>
                <li>
                    <div class="icon">
                        <img src="LUDIYE/images//m5.png" alt="" />
                    </div>
                    <div class="title">幸福指数世界前列</div>
                    <div class="dec">多次位列全球幸福国家前10；当地社会环境包容、文化多元。</div>
                </li>
                <li>
                    <div class="icon">
                        <img src="LUDIYE/images//m6.png" alt="" />
                    </div>
                    <div class="title">枫叶之国</div>
                    <div class="dec">加拿大社会环境优越，肤色歧视现象少见，国际生可以在安全的环境下接受硕士教育</div>
                </li>
            </ul>
        </div>
        <a href="{:url('/message')}" target='blank'  class="more_base">想了解更多？免费留学规划</a>
    </div>
    <img src="LUDIYE/images//canada.jpg" style="display: block;width: 100%;" alt="" />
    <div class="block_type_2" id="p2">
        <div class="titlemodel2">
            加拿大本科留学申请方案
        </div>
        <div class="tab">
            <div class="hd clearflex">
                <a href="javascript:;"><span class="tit">途径一</span><span class="dec">直申本科</span></a>
                <a href="javascript:;"><span class="tit">途径二</span><span class="dec">本科双录取</span></a>
                <a href="javascript:;"><span class="tit">途径三</span><span class="dec">预科+本科</span></a>
                <a href="javascript:;"><span class="tit">途径四</span><span class="dec">学院课程+本科</span></a>
            </div>
            <div class="bd">
                <div class="model">
                    <div class="item">
                        <div class="tit">面向学生：</div>
                        <div class="dec">
                            高三、高中毕业
                        </div>
                        <img src="LUDIYE/images//z1.png" alt="" />
                    </div>
                    <div class="item">
                        <div class="tit">项目优势：</div>
                        <div class="dec">
                            直接入读加拿大本科院校
                        </div>
                        <img src="LUDIYE/images//z2.png" alt="" />
                    </div>
                    <div class="item">
                        <div class="tit">申请要求：</div>
                        <div class="dec">
                            高中成绩、雅思6.5及以上、部分要求高考成绩（一本线）、部分要求SAT等
                        </div>
                        <img src="LUDIYE/images//z3.png" alt="" />
                    </div>
                </div>

                <div class="model">
                    <div class="item">
                        <div class="tit">面向学生：</div>
                        <div class="dec">
                            高三、高中毕业
                        </div>
                        <img src="LUDIYE/images//z1.png" alt="" />
                    </div>
                    <div class="item">
                        <div class="tit">项目优势：</div>
                        <div class="dec">
                            适用于语言成绩不达标的学生群体，先入读语言课程后正式入学。
                        </div>
                        <img src="LUDIYE/images//z2.png" alt="" />
                    </div>
                    <div class="item">
                        <div class="tit">申请要求：</div>
                        <div class="dec">
                            高中成绩、雅思成绩、高考成绩（部分要求）等
                        </div>
                        <img src="LUDIYE/images//z3.png" alt="" />
                    </div>
                </div>

                <div class="model">
                    <div class="item">
                        <div class="tit">面向学生：</div>
                        <div class="dec">
                            高二或高考失利的学生群体
                        </div>
                        <img src="LUDIYE/images//z1.png" alt="" />
                    </div>
                    <div class="item">
                        <div class="tit">项目优势：</div>
                        <div class="dec">
                            加拿大世界名校跳板；提前适应加拿大生活
                        </div>
                        <img src="LUDIYE/images//z2.png" alt="" />
                    </div>
                    <div class="item">
                        <div class="tit">申请要求：</div>
                        <div class="dec">
                            高中会考成绩、高考成绩、雅思成绩等
                        </div>
                        <img src="LUDIYE/images//z3.png" alt="" />
                    </div>
                </div>

                <div class="model">
                    <div class="item">
                        <div class="tit">面向学生：</div>
                        <div class="dec">
                            中专、职高或高考失利学生群体
                        </div>
                        <img src="LUDIYE/images//z1.png" alt="" />
                    </div>
                    <div class="item">
                        <div class="tit">项目优势：</div>
                        <div class="dec">
                            部分学院课程的学分可转入大学相应专业，灵活缩短本科学制。若不打算继续深造，更易留加工作，实现加拿大移民。
                        </div>
                        <img src="LUDIYE/images//z2.png" alt="" />
                    </div>
                    <div class="item">
                        <div class="tit">申请要求：</div>
                        <div class="dec">
                            成绩单、雅思成绩、高中毕业证等。
                        </div>
                        <img src="LUDIYE/images//z3.png" alt="" />
                    </div>
                </div>

            </div>
        </div>
        <a href="{:url('/message')}" target='blank'  class="more_base">想了解更多？免费留学规划</a>
    </div>
    <div class="block_type_3" id="p3">
        <div class="titlemodel2">
            加拿大本科留学申请时间规划
        </div>
        <img src="LUDIYE/images//lc.png" alt="" />
    </div>
    <div class="block_type_4" id="p4">
        <h2 class="titlemodel3">
            留学费用
        </h2>
        <div class="list">
            <ul>
                <li>
                    <div class="imgbox">
                        <img src="LUDIYE/images//g1.jpg" alt="" />
                        <div class="tit">
                            工科类
                        </div>
                    </div>
                    <div class="desc">
                        多伦多大学最高，60000+加币/学年；阿尔伯塔大学、约克大学、西蒙弗雷泽大学和维多利亚大学，学费较便宜，20000-25000加币/学年。其余大学，学费在30000-38000加币/学年。
                    </div>
                </li>
                <li>
                    <div class="imgbox">
                        <img src="LUDIYE/images//g2.jpg" alt="" />
                        <div class="tit">
                            文科类
                        </div>
                    </div>
                    <div class="desc">
                        多伦多大学和皇后大学，学费最高，32000+加币/学年；维多利亚大学和麦吉尔大学，学费最便宜，15000-17000加币/学年；其余大学，学费在20000-26000加币/学年。
                    </div>
                </li>
                <li>
                    <div class="imgbox">
                        <img src="LUDIYE/images//g3.jpg" alt="" />
                        <div class="tit">
                            商科类
                        </div>
                    </div>
                    <div class="desc">
                        多伦多大学最高，50000+加币/学年，麦吉尔大学和皇后大学约40000加币/学年；西蒙弗雷泽大学、滑铁卢大学和维多利亚大学，学费较便宜，20000-25000加币/学年；其余大学，学费在25000-30000加币/学年。
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="block_type_5">
        <h2 class="titlemodel3">
            生活费
        </h2>
        <div class="list">
            <ul>
                <li>
                    <h2 class="h2tit">
                        多伦多
                    </h2>
                    <div class="line"></div>
                    <div class="dec">
                        · 住宿费约300-400加币/月; <p></p>· 餐饮费人均300加币/月，不同消费水平差异较大; <p></p>· 杂费（包括通讯费、交通费等）
                    </div>
                </li>
                <li>
                    <h2 class="h2tit">
                        渥太华
                    </h2>
                    <div class="line"></div>
                    <div class="dec">
                        · 住宿费约400-500加币/月;  <p></p>· 餐饮费人均200加币/月，不同消费水平差异较大;  <p></p>· 杂费（包括通讯费、交通费等）
                    </div>
                </li>
                <li>
                    <h2 class="h2tit">
                        维多利亚
                    </h2>
                    <div class="line"></div>
                    <div class="dec">
                        · 住宿费约600加币/月; <p></p>· 餐饮费人均150加币/月，不同消费水平差异较大; <p></p>· 杂费（包括通讯费、交通费等）约180加币/月。
                    </div>
                </li>
                <li>
                    <h2 class="h2tit">
                        蒙特利尔
                    </h2>
                    <div class="line"></div>
                    <div class="dec">
                        · 住宿费约300-400加币/月; <p></p>· 餐饮费人均300加币/月，不同消费水平差异较大; <p></p>· 杂费（包括通讯费、交通费等）约200加币/月。
                    </div>
                </li>
            </ul>
        </div>
        <a href="{:url('/message')}" target='blank'  class="more_base">想了解更多？免费留学规划</a>
    </div>
    <div class="block_type_6" id="p5">
        <h2 class="titlemodel2">加拿大本科留学院校推荐</h2>
        <div class="list">
            <div class="title">
                <div class="s1">
                    排名
                </div>
                <div class="s2">
                    University
                </div>
                <div class="s3">
                    大学名称
                </div>
            </div>
            <div class="listall">
				<p>
					<span class="s1">
						25
					</span>
					<span class="s2">
						University of Toronto
					</span>
					<span class="s3">
						<b>多伦多大学</b>
						<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多</a>
						<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >免费留学规划</a>
					</span>
				</p>
				<p>
					<span class="s1">
						31
					</span>
					<span class="s2">
						McGill University
					</span>
					<span class="s3">
						<b>麦吉尔大学</b>
						<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多</a>
						<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >免费留学规划</a>
					</span>
				</p>
				<p>
					<span class="s1">
						45
					</span>
					<span class="s2">
						University of British Columbia
					</span>
					<span class="s3">
						<b>英属哥伦比亚大学</b>
						<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多</a>
						<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >免费留学规划</a>
					</span>
				</p>
				<p>
					<span class="s1">
						118
					</span>
					<span class="s2">
						Université de Montréal
					</span>
					<span class="s3">
						<b>阿尔伯塔大学</b>
						<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多</a>
						<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >免费留学规划</a>
					</span>
				</p>
				<p>
					<span class="s1">
						119
					</span>
					<span class="s2">
						University of Alberta
					</span>
					<span class="s3">
						<b>蒙特利尔大学</b>
						<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多</a>
						<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >免费留学规划</a>
					</span>
				</p>
				<p>
					<span class="s1">
						144
					</span>
					<span class="s2">
						McMaster University
					</span>
					<span class="s3">
						<b>麦克马斯特大学</b>
						<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多</a>
						<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >免费留学规划</a>
					</span>
				</p>
				<p>
					<span class="s1">
						166
					</span>
					<span class="s2">
						University of Waterloo
					</span>
					<span class="s3">
						<b>滑铁卢大学</b>
						<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多</a>
						<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >免费留学规划</a>
					</span>
				</p>
				<p>
					<span class="s1">
						203
					</span>
					<span class="s2">
						The University of Western Ontario
					</span>
					<span class="s3">
						<b>西安大略大学</b>
						<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多</a>
						<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >免费留学规划</a>
					</span>
				</p>
				<p>
					<span class="s1">
						246
					</span>
					<span class="s2">
						University of Calgary
					</span>
					<span class="s3">
						<b>卡尔加里大学</b>
						<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多</a>
						<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >免费留学规划</a>
					</span>
				</p>
				<p>
					<span class="s1">
						246
					</span>
					<span class="s2">
						Queen's University at Kingston
					</span>
					<span class="s3">
						<b>皇后大学</b>
						<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多</a>
						<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >免费留学规划</a>
					</span>
				</p>
				<p>
					<span class="s1">
						279
					</span>
					<span class="s2">
						University of Ottawa
					</span>
					<span class="s3">
						<b>渥太华大学</b>
						<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多</a>
						<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >免费留学规划</a>
					</span>
				</p>
				<p>
					<span class="s1">
						291
					</span>
					<span class="s2">
						Dalhousie University
					</span>
					<span class="s3">
						<b>达尔豪斯大学</b>
						<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多</a>
						<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >免费留学规划</a>
					</span>
				</p>
			</div>
        </div>
        <a href="{:url('/message')}" target='blank'  class="more_base">想了解更多？免费留学规划</a>
    </div>
    <div class="block_type_7" id="p6">
        <h2 class="titlemodel2">服务优势</h2>

    </div>
    <div class="base_type_block_all style2 bk">
        <div class="type0">
            <h2 class="h2tit_base"><span>“三对一”服务，全程全时</span></h2>
            <div class="contbox">
                <div class="list">
                    <p>
                        <strong>留学管家：</strong><span>全程监督服务质量，保证留学申请顺利进行</span>
                    </p>
                    <p>
                        <strong>文案老师：</strong><span>985/211本科或海归硕士，文书质量高，合理 规避薄弱项，润色突出优势项</span>
                    </p>
                    <p>
                        <strong>留学顾问：</strong><span>留学整体规划，涉及选校，协助申请、签证 指导和行前指导</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="type1">
            <h2 class="h2tit_base"><span>全程服务透明化</span></h2>
            <div class="list">
                <ul>
                    <li>
                        <div class="icon">
                            <img src="LUDIYE/images//gh1.png" alt="">
                        </div>
                        <div class="tit">
                            留学管家
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <img src="LUDIYE/images//gh2.png" alt="">
                        </div>
                        <div class="tit">
                            邮件
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <img src="LUDIYE/images//gh3.png" alt="">
                        </div>
                        <div class="tit">
                            申请者
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="type2">
            <h2 class="h2tit_base"><span>全程服务可追踪</span></h2>
            <div class="list">
                <ul>
                    <li>
                        <div class="imgbox">
                            <img src="LUDIYE/images//gz1.png" alt="">
                        </div>
                        <div class="title">
                            <div class="left">01</div>
                            <div class="right">
                                点击“服务查询”栏目<br>(官网或公众号)
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="imgbox">
                            <img src="LUDIYE/images//gz2.png" alt="">
                        </div>
                        <div class="title">
                            <div class="left">02</div>
                            <div class="right">
                                输入服务编号
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="imgbox">
                            <img src="LUDIYE/images//gz3.png" alt="">
                        </div>
                        <div class="title">
                            <div class="left">03</div>
                            <div class="right">
                                即可随时随地查询<br>申请进度
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</div>




<div class="footer bg2">
    <h2 class="h2tit">免费留学申请规划</h2>
    <div class="tabox">
        <form action="" id="myform">
            <input type="text" name="name" placeholder="姓名" class="words s1" />
            <input type="text" name="weixin" placeholder="微信" class="words s2" />
            <input type="text" name="mobile" placeholder="手机号" class="words s3" />
            <input type="button" id="send" value="立即预约" class="send" />
            <div class="tel">
                <p>咨询热线：</p>
                <div class="val">
                    400-8010-621
                </div>
            </div>
        </form>
    </div>
</div>
<script>

    $('.block_type_2 .tab .hd a').eq(0).addClass('current');
    $('.block_type_2 .tab .bd .model').hide()
    $('.block_type_2 .tab .bd .model').eq(0).show()
    $('.block_type_2 .tab .hd a').click(function(){
        var thisa=$('.block_type_2 .tab .hd a').index(this);
        $('.block_type_2 .tab .hd a').removeClass('current');
        $(this).addClass('current');
        $('.block_type_2 .tab .bd .model').not($('.block_type_2 .tab .bd .model').eq(thisa)).hide();
        $('.block_type_2 .tab .bd .model').eq(thisa).stop()
        $('.block_type_2 .tab .bd .model').eq(thisa).fadeIn(100)
    })

</script>



{/block}
<!--底部-->

{block name="script"}

{/block}
