{extend name="template/ludiye" /}
{block name="link"}

<meta name="keywords" content="关键词" />
<meta name="description" content="描述" />

<style>

    body{
        background:rgba(247,247,247,1);
    }
</style>
{/block}
{block name="header"}
{/block}

{block name="content"}



<div class="channel">
    <img src="LUDIYE/images/banner7.jpg" alt="" />
</div>

<div class="menu_type_5">
    <div class="link">
        <a href="#p1" class="current">
            优势介绍
        </a>
        <a href="#p2">
            申请条件
        </a>
        <a href="#p3">
            时间规划
        </a>
        <a href="#p4">
            留学费用
        </a>
        <a href="#p5">院校推荐</a>
        <a href="#p6">
            服务优势
        </a>
    </div>
</div>


<div class="main">


    <div class="usa_style_1" id="p1">
        <div class="titlemodel5">
            <span>留学优势</span>
            <div class="line"></div>
        </div>
        <div class="list">
            <ul>
                <li>
                    <div class="icon">
                        <img src="LUDIYE/images/f1.png" alt="" />
                    </div>
                    <div class="tit">
                        低门槛入学条件
                    </div>
                    <div class="dec">
                        没有雅思/托福成绩，也可申请入学。
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img src="LUDIYE/images/f2.png" alt="" />
                    </div>
                    <div class="tit">
                        宽松的申请时间
                    </div>
                    <div class="dec">
                        一年四次申请时间，申请周期短。
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img src="LUDIYE/images/f3.png" alt="" />
                    </div>
                    <div class="tit">
                        节约学习费用
                    </div>
                    <div class="dec">
                        先入读社区大学（学费便宜）后转读公立大学，学分携带，学费性价比高。
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img src="LUDIYE/images/f4.png" alt="" />
                    </div>
                    <div class="tit">
                        进入名校的跳板
                    </div>
                    <div class="dec">
                        可转学分到Top50大学，获得学士学位。加州6所公立大学签署转学协议（TAG），可直升公立本科。学学生转读公立本科更容易、更方便。
                    </div>
                </li>
            </ul>
        </div>
        <a href="{:url('/message')}" target='blank'  class="basebtn4">想了解更多？点此免费留学规划</a>
    </div>
    <div class="usa_style_2" id="p2">
        <div class="title">
            申请方案
        </div>
        <div class="list">
            <ul>
                <li>
                    <div class="ti">
                        <img src="LUDIYE/images/zz11.png" alt="" />
                        <span>要求一</span>
                    </div>
                    <div class="dec">
                        高中成绩单
                    </div>
                </li>
                <li>
                    <div class="ti">
                        <img src="LUDIYE/images/zz22.png" alt="" />
                        <span>要求一</span>
                    </div>
                    <div class="dec">
                        GPA2/4以上
                    </div>
                </li>
                <li>
                    <div class="ti">
                        <img src="LUDIYE/images/zz33.png" alt="" />
                        <span>要求三</span>
                    </div>
                    <div class="dec">
                        语言要求：托福61分或者雅思5.0及以上（未达要求的可以先参加语言课程）
                    </div>
                </li>
            </ul>
        </div>
        <a href="{:url('/message')}" target='blank'  class="basebtn4">想了解更多？点此免费留学规划</a>
    </div>
    <div class="usa_style_3" id="p3">
        <div class="title1">美国社区大学申请时间规划</div>
        <div class="title2">
            努力打造令您满意的留学服务，只为献给更好的你
        </div>
        <div class="imgbox">
            <img src="LUDIYE/images/lc5.png" alt="" />
        </div>
        <a href="{:url('/message')}" target='blank'  class="basebtn4">想了解更多？点此免费留学规划</a>
    </div>
    <div class="usa_style_4" id="p4">
        <div class="title">
            留学费用
        </div>
        <div class="dec0">
            <p>
                学费：60000-80000人民币/年
            </p>
            <p>
                生活费： 纽约生活费最高190000-200000人民币/年； 其他地区生活费约150000人民币/年
            </p>
        </div>
        <div class="list">
            <ul>
                <li>
                    <div class="icon">
                        <img src="LUDIYE/images/r1.png" alt="" />
                    </div>
                    <div class="tit">
                        住宿费
                    </div>
                    <div class="dec">
                        <p>
                            纽约最高约97000人民币/年，
                        </p>
                        <p>
                            其他州约60000人民币/年。
                        </p>
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img src="LUDIYE/images/r2.png" alt="" />
                    </div>
                    <div class="tit">
                        餐饮费
                    </div>
                    <div class="dec">
                        <p>
                            纽约最高约28000人民币/年，
                        </p>
                        <p>
                            其他州约10000-20000人民币/年。
                        </p>
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img src="LUDIYE/images/r3.png" alt="" />
                    </div>
                    <div class="tit">
                        交通费
                    </div>
                    <div class="dec">
                        <p>
                            约8000-20000人民币/年，
                        </p>
                        <p>
                            取决于不同的交通方式。
                        </p>
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img src="LUDIYE/images/r4.png" alt="" />
                    </div>
                    <div class="tit">
                        杂费
                    </div>
                    <div class="dec">
                        <p>
                            约10000-30000人民币/年，
                        </p>
                        <p>
                            不同消费水平有一定差异。
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <a href="{:url('/message')}" target='blank'  class="basebtn4">想了解更多？点此免费留学规划</a>
    </div>
    <img src="LUDIYE/images/hj1.jpg" alt="" style="display: block;width: 100%;" class="dspl" />
    <div class="usa_style_5" id="p5">
		<div class="title">
			院校推荐-美国社区大学
		</div>
		<div class="tabox">
			<table>
				<tr>
					<th width="300">
						University
					</th>
					<th>
						大学名称
					</th>
				</tr>
				<tr>
					<td>
						Community College of Philadelphia
					</td>
					<td>
						<em>费城社区学院 </em> 可获得全美Top 100大学条件录取
					</td>
				</tr>
				<tr>
					<td>
						Orange Coast College
					</td>
					<td>
						<em>橘郡海岸学院 </em> 全美毕业转学率超50%；美国最大的社区学院之一。
					</td>
				</tr>
				<tr>
					<td>
						Foothill College
					</td>
					<td>
						 <em>山麓学院</em> 全美毕业转学率超65%；与常春藤院校“康奈尔大学”签署转学协议。
					</td>
				</tr>
				<tr>
					<td>
						De Anza College
					</td>
					<td>
						<em>迪安萨社区学院</em>  全美毕业转学率超70%，位于硅谷中心，高端实习机会多。
					</td>
				</tr>
				<tr>
					<td>
						Santa Monica College
					</td>
					<td>
						<em>圣莫尼卡学院 </em> 转学UCLA（QS世界排名32）成功率高。
					</td>
				</tr>
				<tr>
					<td>
						Santa Barbara City College
					</td>
					<td>
						<em>圣巴巴拉城市学院</em>  全美毕业转学率超50%；转入UCSB（美国TOP30）人数最多.
					</td>
				</tr>
				<tr>
					<td>
						Irvine Valley College
					</td>
					<td>
						<em>欧文河谷学院</em>  全美毕业转学率超50%；转学UCLA（QS世界排名32）,和UCI（美国TOP100）成功率高。
					</td>
				</tr>
				<tr>
					<td>
						Berkeley City College
					</td>
					<td>
						<em>伯克利城市学院</em>  UC Berkeley的学生比例在全美所有社区学院中最高，将近30%的课程可以在加州大学伯克利分校上课。
					</td>
				</tr>
			</table>
		</div>
		<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank'  class="basebtn4">想了解更多？点此免费留学规划</a>
	</div>






    <div class="base_type_block_all style3" id="p6">
        <div class="type0">
            <h2 class="h2tit_base"><span>“三对一”服务，全程全时</span></h2>
            <div class="contbox">
                <div class="list">
                    <p>
                        <strong>留学管家：</strong><span>全程监督服务质量，保证留学申请顺利进行</span>
                    </p>
                    <p>
                        <strong>文案老师：</strong><span>985/211本科或海归硕士，文书质量高，合理 规避薄弱项，润色突出优势项</span>
                    </p>
                    <p>
                        <strong>留学顾问：</strong><span>留学整体规划，涉及选校，协助申请、签证 指导和行前指导</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="type1">
            <h2 class="h2tit_base"><span>全程服务透明化</span></h2>
            <div class="list">
                <ul>
                    <li>
                        <div class="icon">
                            <img src="LUDIYE/images/gh1.png" alt="">
                        </div>
                        <div class="tit">
                            留学管家
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <img src="LUDIYE/images/gh2.png" alt="">
                        </div>
                        <div class="tit">
                            邮件
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <img src="LUDIYE/images/gh3.png" alt="">
                        </div>
                        <div class="tit">
                            申请者
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="type2">
            <h2 class="h2tit_base"><span>全程服务可追踪</span></h2>
            <div class="list">
                <ul>
                    <li>
                        <div class="imgbox">
                            <img src="LUDIYE/images/gz1.png" alt="">
                        </div>
                        <div class="title">
                            <div class="left">01</div>
                            <div class="right">
                                点击“服务查询”栏目<br>(官网或公众号)
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="imgbox">
                            <img src="LUDIYE/images/gz2.png" alt="">
                        </div>
                        <div class="title">
                            <div class="left">02</div>
                            <div class="right">
                                输入服务编号
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="imgbox">
                            <img src="LUDIYE/images/gz3.png" alt="">
                        </div>
                        <div class="title">
                            <div class="left">03</div>
                            <div class="right">
                                即可随时随地查询<br>申请进度
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</div>



<div class="footer bg4">
    <h2 class="h2tit">免费留学申请规划</h2>
    <div class="tabox">
        <form action="" id="myform">
            <input type="text" name="name" placeholder="姓名" class="words s1" />
            <input type="text" name="weixin" placeholder="微信" class="words s2" />
            <input type="text" name="mobile" placeholder="手机号" class="words s3" />
            <input type="button" id="send" value="立即预约" class="send" />
            <div class="tel">
                <p>咨询热线：</p>
                <div class="val">
                    400-8010-621
                </div>
            </div>
        </form>
    </div>
</div>

{/block}
<!--底部-->

{block name="script"}

{/block}
