{extend name="template/ludiye" /}
{block name="link"}

<meta name="keywords" content="关键词" />
<meta name="description" content="描述" />

<style>

    body{
        background: #F7F7F7
    }
</style>
{/block}
{block name="header"}
{/block}

{block name="content"}




<div class="channel">
    <img src="LUDIYE/images//banner8.jpg" alt="" />
</div>

<div class="menu_type_5 type5-5">
    <div class="link">
        <a href="#p1" class="current">
            优势介绍
        </a>
        <a href="#p2">
            申请方案
        </a>
        <a href="#p3">
            申请条件
        </a>
        <a href="#p4">
            时间规划
        </a>
        <a href="#p5">留学费用 </a>
        <a href="#p6">
            优势专业
        </a>
        <a href="#p7">服务优势</a>
    </div>
</div>



<div class="main lx">
    <div class="usa_type_1" id="p1">
        <div class="titlemodel4">
            美国硕士留学优势
        </div>
        <div class="list">
            <ul>
                <li>
                    <h2 class="h2it">教育资源世界领先</h2>
                    <div class="dec">
                        众多世界顶尖名校<br />师资力量强大，<br />教育设备领先。
                    </div>
                </li>
                <li>
                    <h2 class="h2it">奖学金种类丰富多样</h2>
                    <div class="dec">
                        多种奖学金供不同<br />背景的留学生申请，<br />公平竞争。
                    </div>
                </li>
                <li>
                    <h2 class="h2it">可享一年学制留学</h2>
                    <div class="dec">
                        部分院校，文科、<br />商科采取一年制硕士学制，留学时间成本低。
                    </div>
                </li>
                <li>
                    <h2 class="h2it">文凭回国含金量高</h2>
                    <div class="dec">
                        美国留学生回国认可度高，硕士文凭具有一定的就业优势。
                    </div>
                </li>
                <li>
                    <h2 class="h2it">勤工俭学岗位多</h2>
                    <div class="dec">
                        校内校外均有勤工俭学机会，减轻生活经济压力，体会美国本土生活。
                    </div>
                </li>
            </ul>
        </div>
        <a href="{:url('/message')}" target='blank'  class="basebtn3">想了解更多？点此免费留学规划</a>
    </div>
    <div class="usa_type_2" id="p2">
        <div class="titlemodel4">美国硕士留学 3大申请方案</div>
        <div class="list">
            <ul>
                <li>
                    <h2 class="h2tit">途径一 直申硕士</h2>
                    <div class="line"></div>
                    <div class="dec">
                        <p>面向学生：大三或本科毕业</p>
                        <p>方案优势：直接申请入读美国硕士，</p>
                        <p>节约时间和金钱成本。</p>
                        <p>申请材料：大学成绩单、语言成绩、</p>
                        <p>GRE/GMAT/LSAT、推荐信、个人陈述等</p>
                    </div>
                    <a href="{:url('/message')}" target='blank'  class="more">免费留学规划</a>
                </li>
                <li>
                    <h2 class="h2tit">途径二 “双录取”硕士”</h2>
                    <div class="line"></div>
                    <div class="dec">
                        <p>面向学生：大三或本科毕业</p>
                        <p>方案优势：适用于语言成绩不理想的学生群体；、申请人获取大学语言中心录取书和硕士条件录取书。</p>
                        <p>申请条件：大学成绩单、语言成绩、GRE/GMAT/LSAT、推荐信、个人陈述等</p>
                    </div>
                    <a href="{:url('/message')}" target='blank'  class="more">免费留学规划</a>
                </li>
                <li>
                    <h2 class="h2tit">途径三 硕士桥梁课程</h2>
                    <div class="line"></div>
                    <div class="dec">
                        <p>面向学生：大三或本科毕业</p>
                        <p>桥梁课程介绍：A. 语言课程+大一课程，读完后直升大二。B. 预备课程 (学习语言课程和部分专业学分)，之后需要重新递交申请和成绩。</p>
                        <p>
                            申请材料：大学成绩单、语言成绩（部分大学需要）等。
                        </p>
                    </div>
                    <a href="{:url('/message')}" target='blank'  class="more">免费留学规划</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="usa_type_3" id="p3">
        <div class="title">美国硕士留学 <strong>录取条件</strong></div>
        <div class="tabbox">
            <table width="100%"  border="0" cellspacing="0" cellpadding="0" class="">
                <tr>
                    <td>
                        申请材料
                    </td>
                    <td>
                        录取要求
                    </td>
                    <td>
                        TOP1-30
                    </td>
                    <td>
                        TOP31-60
                    </td>
                    <td>
                        TOP61-100
                    </td>
                </tr>
                <tr>
                    <td>
                        大学均分
                    </td>
                    <td>
                        GPA
                    </td>
                    <td>
                        3.5+
                    </td>
                    <td>
                        3.2
                    </td>
                    <td>
                        3.0
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        语言成绩
                        <br />
                        <em>（托福或雅思）</em>
                    </td>
                    <td>
                        托福
                    </td>
                    <td>
                        100+
                    </td>
                    <td>
                        90+
                    </td>
                    <td>
                        80+
                    </td>
                </tr>
                <tr>
                    <td>
                        雅思
                    </td>
                    <td>
                        7+
                    </td>
                    <td>
                        7
                    </td>
                    <td>
                        6.5+
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        标准化成绩
                    </td>
                    <td>
                        GMA
                    </td>
                    <td>
                        720
                    </td>
                    <td>
                        700+
                    </td>
                    <td>
                        650+
                    </td>
                </tr>
                <tr>
                    <td>
                        GRE
                    </td>
                    <td>
                        325+3.5以上
                    </td>
                    <td>
                        320+3.0以上
                    </td>
                    <td>
                        315+3.0以上
                    </td>
                </tr>
            </table>
            <a href="{:url('/message')}" target='blank'  class="basebtn3">想了解更多？点此免费留学规划</a>
        </div>
    </div>
    <div class="usa_type_4" id="p4">
        <div class="title">努力打造令您满意的留学<strong>服务</strong>,，只为献给更好的<strong>你</strong></div>
        <div class="title2">申请时间规划</div>
        <div class="list">
            <ul>
                <li>
                    <div class="icon">
                        <img src="LUDIYE/images//e1.png" alt="" />
                    </div>
                    <div class="tit">
                        大二上学期
                    </div>
                    <div class="dec">
                        <p>咨询规划院校，</p>
                        <p>全面了解美国硕士留学</p>
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img src="LUDIYE/images//e2.png" alt="" />
                    </div>
                    <div class="tit">
                        大二下学期
                    </div>
                    <div class="dec">
                        <p>准备语言(雅思)考试，</p>
                        <p>学习语言培训课程。</p>
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img src="LUDIYE/images//e3.png" alt="" />
                    </div>
                    <div class="tit">
                        大三上学期
                    </div>
                    <div class="dec">
                        <p>进行语言考试（雅思/托福）； </p>
                        <p>准备GRE/GMAT/LSAT考试</p>
                        <p>（若专业申请需要）</p>
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img src="LUDIYE/images//e4.png" alt="" />
                    </div>
                    <div class="tit">
                        大三下学期
                    </div>
                    <div class="dec">
                        <p>进行第二次语言考试</p>
                        <p>（若雅思/托福成绩不达标）；</p>
                        <p>进行GRE/GMAT/LSAT考试（若专业申请需要）</p>
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img src="LUDIYE/images//e5.png" alt="" />
                    </div>
                    <div class="tit">
                        大四上学期
                    </div>
                    <div class="dec">
                        <p>申请选定的院校专业，</p>
                        <p>等待面试/笔试通知。</p>
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img src="LUDIYE/images//e6.png" alt="" />
                    </div>
                    <div class="tit">
                        大四下学期
                    </div>
                    <div class="dec">
                        <p>获得院校offer，</p>
                        <p>准备美国留学签证。</p>
                    </div>
                </li>
            </ul>
        </div>
        <a href="{:url('/message')}" target='blank'  class="basebtn3">想了解更多？点此免费留学规划</a>
    </div>
    <div class="usa_type_5" id="p5">
        <h2 class="h2tit1">美国硕士留学生活费</h2>
        <div class="dec1">
            <p>纽约生活费最高190000-200000人民币/年；</p>
            <p>其他地区生活费约150000人民币/年。</p>
            <p>不同消费水平有较大差异，具体费用分类如下：</p>
        </div>
        <div class="list">
            <ul>
                <li>
                    <div class="imgbox">
                        <img src="LUDIYE/images//ew1.jpg" alt="" />
                    </div>
                    <div class="conbox">
                        <h2 class="h2tit">住宿费</h2>
                        <div class="dec">
                            <p>
                                纽约最高约97000人民币/年，
                            </p>
                            <p>
                                其他州约60000人民币/年。
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="imgbox">
                        <img src="LUDIYE/images//ew2.jpg" alt="" />
                    </div>
                    <div class="conbox">
                        <h2 class="h2tit">餐饮费</h2>
                        <div class="dec">
                            <p>
                                纽约最高约28000人民币/年，
                            </p>
                            <p>
                                其他州约10000-20000人民币/年
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="imgbox">
                        <img src="LUDIYE/images//ew3.jpg" alt="" />
                    </div>
                    <div class="conbox">
                        <h2 class="h2tit">交通费</h2>
                        <div class="dec">
                            <p>
                                约8000-20000人民币/年，
                            </p>
                            <p>
                                取决于不同的交通方式。
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="imgbox">
                        <img src="LUDIYE/images//ew4.jpg" alt="" />
                    </div>
                    <div class="conbox">
                        <h2 class="h2tit">杂费</h2>
                        <div class="dec">
                            <p>
                                约10000-30000人民币/年，
                            </p>
                            <p>
                                不同消费水平有一定差异。
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <a href="{:url('/message')}" target='blank'  class="basebtn3">想了解更多？点此免费留学规划</a>
    </div>
	<div class="block_type_6 type2s" id="p6">
		<h2 class="title2">2021 U.S. News美国商学院排名（TOP10）</h2>
		<div class="list">
			<div class="title">
				<div class="s1">
					排名
				</div>
				<div class="s2">
					University
				</div>
				<div class="s3">
					大学名称
				</div>
				<div class="s5">
					学费/年
				</div>
			</div>
			<div class="listall">
				<p>
					<span class="s1">1</span>
					<span class="s2">Stanford University	</span>
					<span class="s3">斯坦福大学	</span>
					<span class="s5"><em>$73,062</em> <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >录取条件	免费留学规划</a> </span>
				</p>
				<p>
					<span class="s1">2</span>
					<span class="s2">University of Pennsylvania (Wharton)	</span>
					<span class="s3">宾夕法尼亚大学	</span>
					<span class="s5"><em>$74,500</em> <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >录取条件	免费留学规划</a> </span>
				</p>
				<p>
					<span class="s1">3</span>
					<span class="s2">Northwestern University (Kellogg)	</span>
					<span class="s3">西北大学	</span>
					<span class="s5"><em>$73,404</em> <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >录取条件	免费留学规划</a> </span>
				</p>
				<p>
					<span class="s1">3</span>
					<span class="s2">University of Chicago (Booth)	</span>
					<span class="s3">芝加哥大学	</span>
					<span class="s5"><em>$72,000</em> <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >录取条件	免费留学规划</a> </span>
				</p>
				<p>
					<span class="s1">5</span>
					<span class="s2">Massachusetts Institute of Technology (Booth)	</span>
					<span class="s3">麻省理工学院	</span>
					<span class="s5"><em>$77,168</em> <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >录取条件	免费留学规划</a> </span>
				</p>
				<p>
					<span class="s1">6</span>
					<span class="s2">Harvard University	</span>
					<span class="s3">哈佛大学	</span>
					<span class="s5"><em>$73,440</em> <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >录取条件	免费留学规划</a> </span>
				</p>
				<p>
					<span class="s1">7</span>
					<span class="s2">University of California--Berkeley(Haas)	</span>
					<span class="s3">加州大学伯克利分校	</span>
					<span class="s5"><em>$64,656</em> <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >录取条件	免费留学规划</a> </span>
				</p>
				<p>
					<span class="s1">8</span>
					<span class="s2">Columbia University</span>
					<span class="s3">哥伦比亚大学	</span>
					<span class="s5"><em>$77,376</em> <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >录取条件	免费留学规划</a> </span>
				</p>
				<p>
					<span class="s1">9</span>
					<span class="s2">Yale University	</span>
					<span class="s3">耶鲁大学	</span>
					<span class="s5"><em>$72,350</em> <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >录取条件	免费留学规划</a> </span>
				</p>
				<p>
					<span class="s1">10</span>
					<span class="s2">New York University (Stern)	</span>
					<span class="s3">纽约大学	</span>
					<span class="s5"><em>$74,184</em> <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >录取条件	免费留学规划</a> </span>
				</p>
			</div>
		</div>
		<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank'  class="basebtn3">想了解更多？免费留学规划</a>
	</div>
	<div class="block_type_6 type2s" >
		<h2 class="title2">2021 U.S. News美国工程学院排名（TOP10）</h2>
		<div class="list">
			<div class="title">
				<div class="s1">
					排名
				</div>
				<div class="s2">
					University
				</div>
				<div class="s3">
					大学名称
				</div>
				<div class="s5">
					学费/年
				</div>
			</div>
			<div class="listall">
				<p>
					<span class="s1">1</span>
					<span class="s2">Massachusetts In stitute of Technology </span>
					<span class="s3">麻省理工学院	</span>
					<span class="s5"><em>$53,454</em> <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >录取条件	免费留学规划</a> </span>
				</p>
				<p>
					<span class="s1">2</span>
					<span class="s2">Stanford University</span>
					<span class="s3">斯坦福大学	</span>
					<span class="s5"><em>$55,905</em> <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >录取条件	免费留学规划</a> </span>
				</p>
				<p>
					<span class="s1">3</span>
					<span class="s2">University of California--Berkeley</span>
					<span class="s3">加州大学伯克利分校	</span>
					<span class="s5"><em>$26,544</em> <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >录取条件	免费留学规划</a> </span>
				</p>
				<p>
					<span class="s1">4</span>
					<span class="s2">Carnegie Mellon University</span>
					<span class="s3">卡耐基梅隆大学	</span>
					<span class="s5"><em>$48,500</em> <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >录取条件	免费留学规划</a> </span>
				</p>
				<p>
					<span class="s1">4</span>
					<span class="s2">California Institute of Technology</span>
					<span class="s3">加州理工学院	</span>
					<span class="s5"><em>N/A</em> <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >录取条件	免费留学规划</a> </span>
				</p>
				<p>
					<span class="s1">4</span>
					<span class="s2">University of Michigan--Ann Arbor</span>
					<span class="s3">密歇根大学安娜堡分校	</span>
					<span class="s5"><em>$51,126</em> <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >录取条件	免费留学规划</a> </span>
				</p>
				<p>
					<span class="s1">7</span>
					<span class="s2">Georgia Institute of Technology</span>
					<span class="s3">佐治亚理工学院	</span>
					<span class="s5"><em>$28,568</em> <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >录取条件	免费留学规划</a> </span>
				</p>
				<p>
					<span class="s1">7</span>
					<span class="s2">Purdue University—West Lafayette	</span>
					<span class="s3">普渡大学西拉法叶分校	</span>
					<span class="s5"><em>$29,132</em> <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >录取条件	免费留学规划</a> </span>
				</p>
				<p>
					<span class="s1">8</span>
					<span class="s2">Georgia Institute of Technology </span>
					<span class="s3">佐治亚理工学院	</span>
					<span class="s5"><em>$29,140</em> <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >录取条件	免费留学规划</a> </span>
				</p>
                                                                <p>
					<span class="s1">8</span>
					<span class="s2">University of California--San Diego (Jacobs) </span>
					<span class="s3">佐加利福尼亚大学圣迭戈分校	</span>
					<span class="s5"><em>$26,544</em> <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >录取条件	免费留学规划</a> </span>
				</p>
				<p>
					<span class="s1">10</span>
					<span class="s2">University of Illinois--Urbana-Champaign</span>
					<span class="s3">伊利诺伊大学厄本那-香槟分校	</span>
					<span class="s5"><em>$35,458</em> <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >录取条件	免费留学规划</a> </span>
				</p>
                                                                <p>
					<span class="s1">10</span>
					<span class="s2">University of Southern California</span>
					<span class="s3">南加利福尼亚大学	</span>
					<span class="s5"><em>$2075/credit </em> <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >录取条件	免费留学规划</a> </span>
				</p>
                                                                <p>
					<span class="s1">10</span>
					<span class="s2">University of Texas--Austin (Cockrell)</span>
					<span class="s3">得克萨斯大学奥斯汀分校	</span>
					<span class="s5"><em>$19,320</em> <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >录取条件	免费留学规划</a> </span>
				</p>
			</div>
		</div>
		<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank'  class="basebtn3">想了解更多？免费留学规划</a>
	</div>
	<div class="block_type_6 type2s">
		<h2 class="title2">2021 U.S. News美国教育学院排名（TOP10）</h2>
		<div class="list">
			<div class="title">
				<div class="s1">
					排名
				</div>
				<div class="s2">
					University
				</div>
				<div class="s3">
					大学名称
				</div>
				<div class="s5">
					学费/年
				</div>
			</div>
			<div class="listall">
				<p>
					<span class="s1">1</span>
					<span class="s2">Harvard University</span>
					<span class="s3">哈佛大学	</span>
					<span class="s5"><em>N/A</em> <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >录取条件	免费留学规划</a> </span>
				</p>
				<p>
					<span class="s1">2</span>
					<span class="s2">University of Pennsylvania</span>
					<span class="s3">宾夕法尼亚大学	</span>
					<span class="s5"><em>$1,689/credit</em> <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >录取条件	免费留学规划</a> </span>
				</p>
				<p>
					<span class="s1">3</span>
					<span class="s2">Stanford University</span>
					<span class="s3">斯坦福大学	</span>
					<span class="s5"><em>$52,479</em> <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >录取条件	免费留学规划</a> </span>
				</p>
				<p>
					<span class="s1">4</span>
					<span class="s2">University of California--Los Angeles</span>
					<span class="s3">加州大学洛杉矶分校	</span>
					<span class="s5"><em>$26,544</em> <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >录取条件	免费留学规划</a> </span>
				</p>
				<p>
					<span class="s1">4</span>
					<span class="s2">University of Wiseonsin--Madison</span>
					<span class="s3">威斯康辛大学麦迪逊分校	</span>
					<span class="s5"><em>$24,054</em> <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >录取条件	免费留学规划</a> </span>
				</p>
				<p>
					<span class="s1">4</span>
					<span class="s2">Vanderbilt University (Peabody)</span>
					<span class="s3">范德堡大学	</span>
					<span class="s5"><em>$2,026/credit</em> <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >录取条件	免费留学规划</a> </span>
				</p>
				<p>
					<span class="s1">7</span>
					<span class="s2">Northwestern University</span>
					<span class="s3">西北大学	</span>
					<span class="s5"><em>N/A</em> <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >录取条件	免费留学规划</a> </span>
				</p>
				<p>
					<span class="s1">8</span>
					<span class="s2">Teachers College, Columbia University (Steinhardt)	</span>
					<span class="s3">哥伦比亚大学	</span>
					<span class="s5"><em>$1,700/credit</em> <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >录取条件	免费留学规划</a> </span>
				</p>
				<p>
					<span class="s1">8</span>
					<span class="s2">University of Michigan--Ann Arbor</span>
					<span class="s3">密歇根大学安娜堡分校	</span>
					<span class="s5"><em>$49,182</em> <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >录取条件	免费留学规划</a> </span>
				</p>
				<p>
					<span class="s1">10</span>
					<span class="s2">New York University (Steinhardt)</span>
					<span class="s3">纽约大学	</span>
					<span class="s5"><em>$43,080</em> <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >录取条件	免费留学规划</a> </span>
				</p>
			</div>
		</div>
		<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank'  class="basebtn3">想了解更多？免费留学规划</a>
	</div>
	<div class="block_type_6 type2s">
		<h2 class="title2">2021 U.S. News美国法学院排名（TOP10）</h2>
		<div class="list">
			<div class="title">
				<div class="s1">
					排名
				</div>
				<div class="s2">
					University
				</div>
				<div class="s3">
					大学名称
				</div>
				<div class="s5">
					学费/年
				</div>
			</div>
			<div class="listall">
				<p>
					<span class="s1">1</span>
					<span class="s2">Yale University</span>
					<span class="s3">耶鲁大学	</span>
					<span class="s5"><em>$66,2128</em> <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >录取条件	免费留学规划</a> </span>
				</p>
				<p>
					<span class="s1">2</span>
					<span class="s2">Stanford University</span>
					<span class="s3">斯坦福大学	</span>
					<span class="s5"><em>$64,554</em> <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >录取条件	免费留学规划</a> </span>
				</p>
				<p>
					<span class="s1">3</span>
					<span class="s2">Harvard University</span>
					<span class="s3">哈佛大学	</span>
					<span class="s5"><em>$67,081</em> <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >录取条件	免费留学规划</a> </span>
				</p>
				<p>
					<span class="s1">4</span>
					<span class="s2">University of Chicago</span>
					<span class="s3">芝加哥大学	</span>
					<span class="s5"><em>$66,651</em> <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >录取条件	免费留学规划</a> </span>
				</p>
				<p>
					<span class="s1">4</span>
					<span class="s2">Columbia University</span>
					<span class="s3">哥伦比亚大学	</span>
					<span class="s5"><em>$72,465</em> <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >录取条件	免费留学规划</a> </span>
				</p>
				<p>
					<span class="s1">6</span>
					<span class="s2">New York University</span>
					<span class="s3">纽约大学	</span>
					<span class="s5"><em>$68,934</em> <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >录取条件	免费留学规划</a> </span>
				</p>
				<p>
					<span class="s1">7</span>
					<span class="s2">University of Pennsylvania (Carey)</span>
					<span class="s3">宾夕法尼亚大学	</span>
					<span class="s5"><em>$67,998</em> <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >录取条件	免费留学规划</a> </span>
				</p>
				<p>
					<span class="s1">8</span>
					<span class="s2">University of Virginia</span>
					<span class="s3">弗吉尼亚大学	</span>
					<span class="s5"><em>$66,200</em> <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >录取条件	免费留学规划</a> </span>
				</p>
				<p>
					<span class="s1">9</span>
					<span class="s2">University of Michigan--Ann Arbor</span>
					<span class="s3">密歇根大学安娜堡分校	</span>
					<span class="s5"><em>$64,944</em> <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >录取条件	免费留学规划</a> </span>
				</p>
				<p>
					<span class="s1">9</span>
					<span class="s2">Northwestern University (Pritzker)</span>
					<span class="s3">西北大学	</span>
					<span class="s5"><em>$66,806</em> <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >录取条件	免费留学规划</a> </span>
				</p>
				<p>
					<span class="s1">9</span>
					<span class="s2">University of California--Berkeley</span>
					<span class="s3">加州大学伯克利分校	</span>
					<span class="s5"><em>$53,346</em> <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >录取条件	免费留学规划</a> </span>
				</p>
			</div>
		</div>
		<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank'  class="basebtn3">想了解更多？免费留学规划</a>
	</div>


    <div class="base_type_block_all style4" id="p7">
        <div class="type0">
            <h2 class="h2tit_base"><span>“三对一”服务，全程全时</span></h2>
            <div class="contbox">
                <div class="list">
                    <p>
                        <strong>留学管家：</strong><span>全程监督服务质量，保证留学申请顺利进行</span>
                    </p>
                    <p>
                        <strong>文案老师：</strong><span>985/211本科或海归硕士，文书质量高，合理 规避薄弱项，润色突出优势项</span>
                    </p>
                    <p>
                        <strong>留学顾问：</strong><span>留学整体规划，涉及选校，协助申请、签证 指导和行前指导</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="type1">
            <h2 class="h2tit_base"><span>全程服务透明化</span></h2>
            <div class="list">
                <ul>
                    <li>
                        <div class="icon">
                            <img src="LUDIYE/images//gh1.png" alt="">
                        </div>
                        <div class="tit">
                            留学管家
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <img src="LUDIYE/images//gh2.png" alt="">
                        </div>
                        <div class="tit">
                            邮件
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <img src="LUDIYE/images//gh3.png" alt="">
                        </div>
                        <div class="tit">
                            申请者
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="type2">
            <h2 class="h2tit_base"><span>全程服务可追踪</span></h2>
            <div class="list">
                <ul>
                    <li>
                        <div class="imgbox">
                            <img src="LUDIYE/images//gz1.png" alt="">
                        </div>
                        <div class="title">
                            <div class="left">01</div>
                            <div class="right">
                                点击“服务查询”栏目<br>(官网或公众号)
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="imgbox">
                            <img src="LUDIYE/images//gz2.png" alt="">
                        </div>
                        <div class="title">
                            <div class="left">02</div>
                            <div class="right">
                                输入服务编号
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="imgbox">
                            <img src="LUDIYE/images//gz3.png" alt="">
                        </div>
                        <div class="title">
                            <div class="left">03</div>
                            <div class="right">
                                即可随时随地查询<br>申请进度
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</div>



<div class="footer bg5">
    <h2 class="h2tit">免费留学申请规划</h2>
    <div class="tabox">
        <form action="" id="myform">
            <input type="text" name="name" placeholder="姓名" class="words s1" />
            <input type="text" name="weixin" placeholder="微信" class="words s2" />
            <input type="text" name="mobile" placeholder="手机号" class="words s3" />
            <input type="button" id="send" value="立即预约" class="send" />
            <div class="tel">
                <p>咨询热线：</p>
                <div class="val">
                    400-8010-621
                </div>
            </div>
        </form>
    </div>
</div>


{/block}
<!--底部-->

{block name="script"}

{/block}
