{extend name="template/ludiye" /}
{block name="link"}

<meta name="keywords" content="关键词" />
<meta name="description" content="描述" />

<style>
    #contain{height: auto!important;margin-bottom: 50px!important;}
    #top{height: 200px!important;}
    #pdv_6938{position: relative!important;}
    #pdv_6920{float: left}
    body{
        background: #F7F7F7
    }
</style>
{/block}
{block name="header"}
{/block}

{block name="content"}


<div class="channel">
    <img src="LUDIYE/images//banner5.jpg" alt="" />
</div>

<div class="menu_type_3">
    <div class="link">
        <a href="#p1" class="current">
            优势介绍
        </a>
        <a href="#p2">
            申请条件
        </a>
        <a href="#p3">
            申请流程
        </a>
        <a href="#p4">
            融资计划
        </a>
        <a href="#p5">永居卡</a>
        <a href="#p6">
            服务优势
        </a>
    </div>
</div>


<div class="main">
    <div class="type_block_1" id="p1">
        <div class="titlemodel4">
            <div class="cn">项目优势</div>
            <div class="en">
                Core services
            </div>
        </div>
        <div class="list clearflex">
            <div class="conbox">
                <h2 class="h2tit">公立纯英式教育</h2>
                <div class="icon">
                    <img src="LUDIYE/images//zz1.png" alt="" />
                </div>
                <div class="dec">
                    <p>
                        小班教育（10-15人），
                    </p>
                    <p>
                        师资文凭不低于硕士学位，
                    </p>
                    <p>
                        无缝对接英美大学。
                    </p>
                </div>
                <a href="{:url('/message')}" target='blank'  class="more">查看更多>></a>
            </div>
            <div class="conbox">
                <h2 class="h2tit">一人申请，四代受益</h2>
                <div class="icon">
                    <img src="LUDIYE/images//zz2.png" alt="" />
                </div>
                <div class="dec">
                    <p>
                        申请人及其子女/父母/祖父母，
                    </p>
                    <p>
                        可一起申请获得永居权，
                    </p>
                    <p>
                        而部分国家（如英国）只能带子女。
                    </p>
                </div>
                <a href="{:url('/message')}" target='blank'  class="more">查看更多>></a>
            </div>
            <div class="conbox">
                <h2 class="h2tit">高性价比国际学校<br />（英式/美式教育）</h2>
                <div class="icon">
                    <img src="LUDIYE/images//zz3.png" alt="" />
                </div>
                <div class="dec">
                    <p>
                        学费为大陆外资学校的1/3
                    </p>
                    <p>
                        （7000欧元-10000欧元/学年）。
                    </p>
                </div>
                <a href="{:url('/message')}" target='blank'  class="more">查看更多>></a>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="type_block_2" id="p2">
        <h2 class="h2tit">申请条件</h2>
        <div class="listall">
            <div class="item1 item">
                <div class="num">1</div>
                <div class="dec">
                    有效的出入境证件（护照）
                </div>
            </div>
            <div class="item1 item">
                <div class="num">2</div>
                <div class="dec">
                    主申请人年满18周岁，无犯罪记录
                </div>
            </div>
            <div class="item1 item">
                <div class="num">3</div>
                <div class="dec">
                    主申请人需提供收入证明;a) 年收入10万欧，或b)总资产超过50万欧
                </div>
            </div>
            <div class="item1 item">
                <div class="num">5</div>
                <div class="dec">
                    投资政府债券25万欧，5年后到期后返还
                </div>
            </div>
            <div class="item1 item">
                <div class="num">6</div>
                <div class="dec">
                    向马耳他政府捐款3万欧
                </div>
            </div>
            <div class="item1 item">
                <div class="num">7</div>
                <div class="dec">
                    购买欧盟健康保险（约500欧/人/年）
                </div>
            </div>
            <div class="item2 item">
                <div class="num">4</div>
                <div class="dec">
                    购买或租赁马耳他本岛或者戈佐岛房产;a) 购房本岛不低于32万欧，戈佐岛不低于27万欧；b) 租房本岛不低于1.2万欧/年，戈佐岛不低于1万欧/年）
                </div>
            </div>
        </div>
        <a href="{:url('/message')}" target='blank'  class="base_btn">想了解更多？点此免费移民规划</a>
    </div>
    <div class="type_block_3" id="p3">
        <h2 class="h2tit">
            申请流程
        </h2>
        <div class="list">
            <div class="item">
                <div class="conbox">
                    <div class="icon">
                        <img src="LUDIYE/images//h1.png" alt="" />
                    </div>
                    <div class="words">
                        申请人及家属背景评估
                    </div>
                </div>
                <div class="num">01</div>
            </div>
            <div class="item">
                <div class="num">02</div>
                <div class="conbox">
                    <div class="words">
                        签署服务协议和律师聘定协议 ·缴纳服务费、律师费和第一笔政府申请费
                    </div>
                    <div class="icon">
                        <img src="LUDIYE/images//h2.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="conbox">
                    <div class="icon">
                        <img src="LUDIYE/images//h3.png" alt="" />
                    </div>
                    <div class="words">
                        北京/上海领事馆签署POA并准备其他所有材料
                    </div>
                </div>
                <div class="num">03</div>
            </div>
            <div class="item">
                <div class="num">04</div>
                <div class="conbox">
                    <div class="words">
                        获得原则性批复，到访马耳他录指纹，申请居留卡。 ·3个月内完成国债投资、房屋购买/租赁、保险购买，并支付第二笔政府申请费
                    </div>
                    <div class="icon">
                        <img src="LUDIYE/images//h4.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="conbox">
                    <div class="icon">
                        <img src="LUDIYE/images//h5.png" alt="" />
                    </div>
                    <div class="words">
                        获得批准居留身份，邮寄居留卡给客户
                    </div>
                </div>
                <div class="num">05</div>
            </div>
        </div>
        <a href="{:url('/message')}" target='blank'  class="base_btn">想了解更多？点此免费移民规划</a>
    </div>
    <div class="type_block_4" id="p4">
        <h2 class="h2tit">
            融资计划
        </h2>
        <div class="tablebox">
            <table>
                <tr>
                    <th colspan="3">全款、融资模式花费对比</th>
                </tr>
                <tr>
                    <td>

                    </td>
                    <td>
                        全款
                    </td>
                    <td>融资</td>
                </tr>
                <tr>
                    <td>
                        国债
                    </td>
                    <td>
                        25万欧元 （5年后付本息）
                    </td>
                    <td>6万欧元 （不可退）</td>
                </tr>
                <tr>
                    <td>
                        政府申请费
                    </td>
                    <td>
                        3万欧元
                    </td>
                    <td>  3万欧元</td>
                </tr>
                <tr>
                    <td>
                        租房费用
                    </td>
                    <td>
                        5万欧元
                    </td>
                    <td>5万欧元</td>
                </tr>
                <tr>
                    <td>
                        律师费
                    </td>
                    <td>
                        4万欧元
                    </td>
                    <td>4万欧</td>
                </tr>
                <tr>
                    <td>
                        前期投资总额
                    </td>
                    <td>
                        37万欧元
                    </td>
                    <td>18万欧元</td>
                </tr>
            </table>
        </div>
        <a href="{:url('/message')}" target='blank'  class="basebtn2">想了解更多？点此免费移民规划</a>
    </div>
    <div class="type_block_5" id="p5">
        <h2 class="h2tit">永居卡</h2>
        <div class="limit">
            <img src="LUDIYE/images//card.png" alt="" />
        </div>
        <a href="{:url('/message')}" target='blank'  class="base_btn">想了解更多？点此免费移民规划</a>
    </div>

    <div class="base_type_block_all" id="p6">
        <div class="type1">
            <h2 class="h2tit_base"><span>全程服务透明化</span></h2>
            <div class="list">
                <ul>
                    <li>
                        <div class="icon">
                            <img src="LUDIYE/images//gh1.png" alt="" />
                        </div>
                        <div class="tit">
                            移民管家
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <img src="LUDIYE/images//gh2.png" alt="" />
                        </div>
                        <div class="tit">
                            邮件
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <img src="LUDIYE/images//gh3.png" alt="" />
                        </div>
                        <div class="tit">
                            申请者
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="type2">
            <h2 class="h2tit_base"><span>全程服务可追踪</span></h2>
            <div class="list">
                <ul>
                    <li>
                        <div class="imgbox">
                            <img src="LUDIYE/images//gz1.png" alt="" />
                        </div>
                        <div class="title">
                            <div class="left">01</div>
                            <div class="right">
                                点击“服务查询”栏目<br />(官网或公众号)
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="imgbox">
                            <img src="LUDIYE/images//gz2.png" alt="" />
                        </div>
                        <div class="title">
                            <div class="left">02</div>
                            <div class="right">
                                输入服务编号
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="imgbox">
                            <img src="LUDIYE/images//gz3.png" alt="" />
                        </div>
                        <div class="title">
                            <div class="left">03</div>
                            <div class="right">
                                即可随时随地查询<br />申请进度
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<script>

</script>



<div class="footer bg3">
    <h2 class="h2tit">免费移民申请规划</h2>
    <div class="tabox">
        <form action="">
            <input type="text" placeholder="姓名" class="words s1" />
            <input type="text" placeholder="微信" class="words s2" />
            <input type="text" placeholder="手机号" class="words s3" />
            <input type="button" value="立即预约" class="send" />
            <div class="tel">
                <p>咨询热线：</p>
                <div class="val">
                    400-8010-621
                </div>
            </div>
        </form>
    </div>
</div>



{/block}
<!--底部-->

{block name="script"}

{/block}
