{extend name="template/ludiye" /}
{block name="link"}

<meta name="keywords" content="关键词" />
<meta name="description" content="描述" />

<style>
    #contain{height: auto!important;margin-bottom: 50px!important;}
    #top{height: 200px!important;}
    #pdv_6938{position: relative!important;}
    #pdv_6920{float: left}
    body{
        background: #F7F7F7
    }
</style>
{/block}
{block name="header"}
{/block}

{block name="content"}



<div class="channel">
    <img src="LUDIYE/images/banner10.jpg" alt="" />
</div>

<div class="menu_type_7">
    <div class="link">
        <a href="#p1" class="current">
            留学优势
        </a>
        <a href="#p2">
            院校推荐
        </a>
        <a href="#p3">
            录取要求
        </a>
        <a href="#p4">
            时间规划
        </a>
        <a href="#p5">留学费用 </a>
        <a href="#p6">
            服务优势
        </a>
    </div>
</div>


<div class="main">
    <div class="hk_block_1" id="p1">
        <div class="titlemodel6">香港授课型硕士留学优势</div>
        <div class="height85"></div>
        <a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank'  class="basebtn5">想了解更多？点此免费留学规划</a>
        <div class="list">
            <ul>
                <li>
                    <div class="icon">
                        <img src="LUDIYE/images/l1.png" alt="" />
                    </div>
                    <div class="tit">
                        低成本留学
                    </div>
                    <div class="dec">
                        相比于美英加留学，学费性价比高，留学经济成本低。
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img src="LUDIYE/images/l2.png" alt="" />
                    </div>
                    <div class="tit">
                        国际大都市
                    </div>
                    <div class="dec">
                        国际金融中心，国际化的视野，世界领先的各类生活学习设施。
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img src="LUDIYE/images/l3.png" alt="" />
                    </div>
                    <div class="tit">
                        一年制授课型
                    </div>
                    <div class="dec">
                        一年制授课型硕士，<br />节约留学时间成本。
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img src="LUDIYE/images/l4.png" alt="" />
                    </div>
                    <div class="tit">
                        文凭认可度高
                    </div>
                    <div class="dec">
                        一年制授课型硕士，<br />节约留学时间成本。
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img src="LUDIYE/images/l5.png" alt="" />
                    </div>
                    <div class="tit">
                        教学质量领先
                    </div>
                    <div class="dec">
                        英联邦教育制度，全英文授课，教学水平高。多所世界百强院校，享有国际盛誉。
                    </div>
                </li>
            </ul>
        </div>
    </div>
	<div class="hk_block_2" id="p2">
		<div class="titlemodel6">
			香港留学院校推荐
		</div>
		<div class="tabox">
			<table>
				<tbody>
					<tr>
						<th width="120">
							排名
						</th>
						<th width="222">
							大学名称
						</th>
						<th>
							王牌专业（2020TIMES排名）
						</th>
					</tr>
					<tr>
						<td>
							22
						</td>
						<td>
							香港大学
						</td>
						<td>
							<em>教育学 (3rd)；法律 (17th)；商科（30th）; 计算机科学（38th）</em>
							<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多	免费留学规划</a>
						</td>
					</tr>
					<tr>
						<td>
							27
						</td>
						<td>
							香港科技大学
						</td>
						<td>
							<em>商科（22th）；计算机科学（28th）; 生命科学(89th)；</em>
							<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多	免费留学规划</a>
						</td>
					</tr>
					<tr>
						<td>
							43
						</td>
						<td>
							香港中文大学
						</td>
						<td>
							<em>教育学 (34th)；法律 (91st)；商科（60th）; 计算机科学（36th）</em>
							<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多	免费留学规划</a>
						</td>
					</tr>
					<tr>
						<td>
							48
						</td>
						<td>
							香港城市大学
						</td>
						<td>
							<em>法律 (25th)；商科（58th）; 工程类（63rd）</em>
							<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多	免费留学规划</a>
						</td>
					</tr>
					<tr>
						<td>
							75
						</td>
						<td>
							香港理工大学
						</td>
						<td>
							<em>商科（38th）; 计算机科学（74th）; 社会科学（95th）;</em>
							<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多	免费留学规划</a>
						</td>
					</tr>
					<tr>
						<td>
							264
						</td>
						<td>
							香港浸会大学
						</td>
						<td>
							<em>计算机科学; 教育；商科类</em>
							<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多	免费留学规划</a>
						</td>
					</tr>
					<tr>
						<td>
							＼
						</td>
						<td>
							香港教育大学
						</td>
						<td>
							<em>教育类</em>
							<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多	免费留学规划</a>
						</td>
					</tr>
					<tr>
						<td>
							＼
						</td>
						<td>
							香港岭南大学
						</td>
						<td>
							<em>商科、社会科学</em>
							<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多	免费留学规划</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="hk_block_3" id="p3">
		<div class="titlemodel6">
			香港八大硕士录取要求
		</div>
		<div class="list">
			<ul>
				<li>
					<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >
						<div class="imgc">
							<img src="images/t1.png" alt="" />
						</div>
						<div class="title">香港大学</div>
						<div class="dec">
							<p>
								GPA 3.5+/4.0
							</p>
							<p>
								雅思 6.5-7.5
							</p>
							<p>
								GMAT 700+（商科）
							</p>
							<p>
								GRE（部分理工科）
							</p>
						</div>
					</a>
				</li>
				<li>
					<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >
						<div class="imgc">
							<img src="images/t2.png" alt="" />
						</div>
						<div class="title">香港中文大学</div>
						<div class="dec">
							<p>
								GPA 3.5+/4.0
							</p>
							<p>
								雅思6.5-7.5
							</p>
							<p>
								GMAT 700+（商科）
							</p>
						</div>
					</a>
				</li>
				<li>
					<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >
						<div class="imgc">
							<img src="images/t3.png" alt="" />
						</div>
						<div class="title">香港科技大学</div>
						<div class="dec">
							<p>
								GPA 3.5+/4.0
							</p>
							<p>
								雅思6.5-7.5
							</p>
							<p>
								GMAT 700+（商科）
							</p>
							<p>
								GRE（部分理工科）
							</p>
						</div>
					</a>
				</li>
				<li>
					<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >
						<div class="imgc">
							<img src="images/t4.png" alt="" />
						</div>
						<div class="title">香港城市大学</div>
						<div class="dec">
							<p>
								GPA 3.0+/4.0
							</p>
							<p>
								雅思 6.5及以上
							</p>
							<p>
								托福 纸考550/机考79及以上
							</p>
							<p>
								大学英语六级成绩 450+（部分专业接受）
							</p>
						</div>
					</a>
				</li>
				<li>
					<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >
						<div class="imgc">
							<img src="images/t5.png" alt="" />
						</div>
						<div class="title">香港理工大学</div>
						<div class="dec">
							<p>
								GPA 3.0+/4.0
							</p>
							<p>
								语言成绩（雅思或托福）
							</p>
							<p>
								雅思6及以上
							</p>
							<p>
								托福 纸考550/机考80及以上
							</p>
							<p>GMAT 600+（商科）</p>
						</div>
					</a>
				</li>
				<li>
					<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >
						<div class="imgc">
							<img src="images/t6.png" alt="" />
						</div>
						<div class="title">香港浸会大学</div>
						<div class="dec">
							<p>
								GPA 3.0+/4.0
							</p>
							<p>
								雅思6.5及以上
							</p>
							<p>
								托福 纸考550/机考79及以上
							</p>
							<p>
								大学英语六级500
							</p>
						</div>
					</a>
				</li>
				<li>
					<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >
						<div class="imgc">
							<img src="images/t7.png" alt="" />
						</div>
						<div class="title">香港教育大学</div>
						<div class="dec">
							<p>
								GPA 3.0+/4.0
							</p>
							<p>
								雅思 6.0及以上
							</p>
							<p>
								托福 纸考550/机考79及以上
							</p>
							<p>
								大学英语六级430+
							</p>
						</div>
					</a>
				</li>
				<li>
					<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >
						<div class="imgc">
							<img src="images/t8.png" alt="" />
						</div>
						<div class="title">香港岭南大学</div>
						<div class="dec">
							<p>
								GPA 3.0+/4.0
							</p>
							<p>
								语言成绩（雅思或托福）
							</p>
							<p>
								雅思 6.5及以上
							</p>
							<p>
								纸考550/机考79及以上
							</p>
							<p>
								GMAT（商科建议提供）
							</p>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="hk_block_4" id="p4">
		<div class="titlemodel6">
			香港八大硕士申请时间规划
		</div>
		<div class="list">
			<ul>
				<li>
					<div class="combox">
						咨询规划院校，全面了解香港硕士留学
					</div>
					<div class="title">
						大二上学期
					</div>
				</li>
				<li>
					<div class="combox">
						准备语言(雅思)考试，学习语言培训课程。
					</div>
					<div class="title">
						大二下学期
					</div>
				</li>
				<li>
					<div class="combox">
						进行第一次语言(雅思)考试
					</div>
					<div class="title">
						大三上学期
					</div>
				</li>
				<li>
					<div class="combox">
						确定申请院校和专业，准备申请所需的各类文书材料；语言(雅思)考试刷分（若成绩不理想）。
					</div>
					<div class="title">
						大三下学期
					</div>
				</li>
				<li>
					<div class="combox">
						申请选定的院校专业，等待面试/笔试通知。
					</div>
					<div class="title">
						大四上学期
					</div>
				</li>
				<li>
					<div class="combox">
						获得院校offer，准备香港留学签证。
					</div>
					<div class="title">
						大四下学期
					</div>
				</li>
			</ul>
		</div>
		<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank'  class="basebtn5">想了解更多？点此免费留学规划</a>
	</div>
	<div class="hk_block_5" id="p5">
		<div class="titlemodel6">
			香港八大硕士留学费用
		</div>
		<div class="list">
			<ul>
				<li>
					<div class="conbox">
						<div class="num">01</div>
						<div class="tit">香港留学学费</div>
					</div>
					<div class="imgbox" style="background: url(images/fz1.png) no-repeat center center; background-size: cover;">
					                <div class="words">
							<p>文科/理工科：100,000-135,000人民币/年</p>
							<p>商科：100,000-250,000人民币/年</p>
						</div>
					</div>
				</li>
				<li>
					<div class="conbox">
						<div class="num">02</div>
						<div class="tit">香港留学生活费</div>
					</div>
					<div class="imgbox" style="background: url(images/fz2.jpg) no-repeat center center; background-size: cover;">
						<div class="words">
							<p>住宿：40,000-50,000人民币/年</p>
							<p>餐饮：约45,000人民币/年，不同消费水平差异较大</p>
						</div>
					</div>
				</li>
				<li>
					<div class="conbox">
						<div class="num">03</div>
						<div class="tit">其它生活杂费</div>
					</div>
					<div class="imgbox" style="background: url(images/fz3.png) no-repeat center center; background-size: cover;">
						<div class="words">
							<p>杂费：约15,000人民币/年，不同消费水平差异较大</p>					
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
    <div class="base_type_block_all style7" id="p6">
        <div class="type0">
            <h2 class="h2tit_base"><span>“三对一”服务，全程全时</span></h2>
            <div class="contbox">
                <div class="list">
                    <p>
                        <strong>留学管家：</strong><span>全程监督服务质量，保证留学申请顺利进行</span>
                    </p>
                    <p>
                        <strong>文案老师：</strong><span>985/211本科或海归硕士，文书质量高，合理 规避薄弱项，润色突出优势项</span>
                    </p>
                    <p>
                        <strong>留学顾问：</strong><span>留学整体规划，涉及选校，协助申请、签证 指导和行前指导</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="type1">
            <h2 class="h2tit_base"><span>全程服务透明化</span></h2>
            <div class="list">
                <ul>
                    <li>
                        <div class="icon">
                            <img src="LUDIYE/images/gh1.png" alt="">
                        </div>
                        <div class="tit">
                            留学管家
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <img src="LUDIYE/images/gh2.png" alt="">
                        </div>
                        <div class="tit">
                            邮件
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <img src="LUDIYE/images/gh3.png" alt="">
                        </div>
                        <div class="tit">
                            申请者
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="type2">
            <h2 class="h2tit_base"><span>全程服务可追踪</span></h2>
            <div class="list">
                <ul>
                    <li>
                        <div class="imgbox">
                            <img src="LUDIYE/images/gz1.png" alt="">
                        </div>
                        <div class="title">
                            <div class="left">01</div>
                            <div class="right">
                                点击“服务查询”栏目<br>(官网或公众号)
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="imgbox">
                            <img src="LUDIYE/images/gz2.png" alt="">
                        </div>
                        <div class="title">
                            <div class="left">02</div>
                            <div class="right">
                                输入服务编号
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="imgbox">
                            <img src="LUDIYE/images/gz3.png" alt="">
                        </div>
                        <div class="title">
                            <div class="left">03</div>
                            <div class="right">
                                即可随时随地查询<br>申请进度
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>







<div class="footer bg8">
    <h2 class="h2tit">免费留学申请规划</h2>
    <div class="tabox">
        <form action="" id="myform">
            <input type="text" name="name" placeholder="姓名" class="words s1" />
            <input type="text" name="weixin" placeholder="微信" class="words s2" />
            <input type="text" name="mobile" placeholder="手机号" class="words s3" />
            <input type="button" id="send" value="立即预约" class="send" />
            <div class="tel">
                <p>咨询热线：</p>
                <div class="val">
                    400-8010-621
                </div>
            </div>
        </form>
    </div>
</div>
<script>

    $('.block_type_2 .tab .hd a').eq(0).addClass('current');
    $('.block_type_2 .tab .bd .model').hide()
    $('.block_type_2 .tab .bd .model').eq(0).show()
    $('.block_type_2 .tab .hd a').click(function(){
        var thisa=$('.block_type_2 .tab .hd a').index(this);
        $('.block_type_2 .tab .hd a').removeClass('current');
        $(this).addClass('current');
        $('.block_type_2 .tab .bd .model').not($('.block_type_2 .tab .bd .model').eq(thisa)).hide();
        $('.block_type_2 .tab .bd .model').eq(thisa).stop()
        $('.block_type_2 .tab .bd .model').eq(thisa).fadeIn(100)
    })

</script>



{/block}
<!--底部-->

{block name="script"}

{/block}
