{extend name="template/ludiye" /}
{block name="link"}

<meta name="keywords" content="关键词" />
<meta name="description" content="描述" />

<style>
    #contain{height: auto!important;margin-bottom: 50px!important;}
    #top{height: 200px!important;}
    #pdv_6938{position: relative!important;}
    #pdv_6920{float: left}
    body{
        background: #F7F7F7
    }
</style>
{/block}
{block name="header"}
{/block}

{block name="content"}




<div class="channel">
    <img src="LUDIYE/images//banner11.jpg" alt="" />
</div>

<div class="menu_type_8">
    <div class="link">
        <a href="#p1" class="current">
            优势介绍
        </a>
        <a href="#p2">
            申请方案
        </a>
        <a href="#p3">
            时间规划
        </a>
        <a href="#p4">
            留学费用
        </a>
        <a href="#p5">院校推荐</a>
        <a href="#p6">
            服务优势
        </a>
    </div>
</div>


<div class="main en">


    <div class="usa_style_1" id="p1">
        <div class="titlemodel5">
            <span>英国本科留学优势</span>
            <div class="line"></div>
        </div>
        <div class="list">
            <ul>
                <li>
                    <div class="icon">
                        <img src="LUDIYE/images//f1.png" alt="" />
                    </div>
                    <div class="tit">
                        纯正英语留学环境
                    </div>
                    <div class="dec">
                        英语母语国家，纯正的英式口语，良好的语言环境。
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img src="LUDIYE/images//f2.png" alt="" />
                    </div>
                    <div class="tit">
                        本科学制短，留学性价比高
                    </div>
                    <div class="dec">
                        英国本科学制三年，相比国内本科，时间更短。
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img src="LUDIYE/images//f3.png" alt="" />
                    </div>
                    <div class="tit">
                        世界名校聚集地专业广，选择多
                    </div>
                    <div class="dec">
                        十几所世界百强大学；牛津、剑桥老牌名校聚集地；多个世界优势专业，覆盖文科、理工科、商科等各个学术领域。
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img src="LUDIYE/images//f4.png" alt="" />
                    </div>
                    <div class="tit">
                        教学质量世界一流，文凭全球认可度高
                    </div>
                    <div class="dec">
                        英国文凭全球认可，无论今后继续深造或回国就业，都有一定的优势。
                    </div>
                </li>
            </ul>
        </div>
        <a href="{:url('/message')}" target='blank'  class="basebtn4">想要了解更多？点此免费留学规划</a>
    </div>


    <div class="usa_type_1" id="p2">
        <div class="titlemodel4">
            英国本科留学 五大申请方案
        </div>
        <div class="list">
            <ul>
                <li>
                    <h2 class="h2it">途径一 2年A-Level课程+3年本科课程</h2>
                    <div class="dec">
                        面向学生：高一、高二<br />方案特色：适用于家庭经济条件好，想进英国顶尖名校的学生群体<br />申请条件：通过英国学校入学考试，英语水平相当于雅思5.5
                    </div>
                </li>
                <li>
                    <h2 class="h2it">途径二 本科直申</h2>
                    <div class="dec">
                        面向学生：高三毕业<br />方案特色：学生凭借高考成绩直接申请英国院校本科生项目，节约时间和金钱成本。<br />申请条件：高考成绩；高中会考成绩；雅思成绩；A-level成绩（部分院校需要）。
                    </div>
                </li>
                <li>
                    <h2 class="h2it">途径三 1年预科课程+3年本科课程</h2>
                    <div class="dec">
                        面向学生：高二、高三或高中毕业生;<br />方案特色：适用于高考失利的学生群体，提前适应英国当地生活。申请条件：高中成绩单+雅思成绩（5.5及以上）
                    </div>
                </li>
                <li>
                    <h2 class="h2it">途径四	专科升本科</h2>
                    <div class="dec">
                        面向学生：大专学生<br />方案特色：适用于高考失利，想获得国外本科文凭的学生群体。申请条件：国内专科成绩+雅思成绩（6.0及以上）
                    </div>
                </li>
                <li>
                    <h2 class="h2it">途径五	本科转读</h2>
                    <div class="dec">
                        面向学生：大一、大二<br />方案特色：适用于高考失利，对在读本科院校或专业不满意的学生群体;<br />申请条件：国内本科成绩+雅思成绩（5.5-6.5）
                    </div>
                </li>
            </ul>
        </div>
        <a href="{:url('/message')}" target='blank'  class="basebtn3">想了解更多？点此免费留学规划</a>
    </div>

    <div class="en_block_2" id="p3">
        <div class="titlemodel4">
            英国本科留学申请时间规划
        </div>
        <div class="dec">
            努力打造令您满意的留学<strong>服务</strong>，只为献给更好的<strong>你</strong>
        </div>
        <div class="limit">
            <img src="LUDIYE/images//lc8.png" alt="" />
        </div>
        <a href="{:url('/message')}" target='blank'  class="basebtn3">想了解更多？点此免费留学规划</a>
    </div>
    <img src="LUDIYE/images//basd.jpg" style="width: 100%; display: block;" alt="" />



    <div class="usa_type_2" id="p4">
        <div class="titlemodel4">英国留学费用概览</div>
        <div class="list2">
            <ul>
                <li>
                    <h2 class="h2tit">英国本科留学学费</h2>
                    <div class="line"></div>
                    <div class="dec">
                        <p>本科预科：约9.5万人民币，</p>
                        <p>本科课程：文科约10-16万人民币/年，</p>
                        <p>商科约10-21万人民币/年，</p>
                        <p>理工科约11-22万人民币/年。 </p>
                    </div>
                </li>
                <li>
                    <h2 class="h2tit">英国本科留学生活费</h2>
                    <div class="line"></div>
                    <div class="dec">
                        <p>租房：伦敦地区150-300英镑/周；</p>
                        <p>非伦敦地区90-150英镑/周。</p>
                        <p>伙食费：自己做饭，约150英镑/月； </p>
                        <p>学校食堂就餐，约300英镑/月；</p>
                        <p>校外餐厅就餐约500英镑/月。</p>
                        <p>杂费：水电费和上网费，约50-100英镑/月；</p>
                        <p>交通费选择不同出行方式差异较大。</p>
                    </div>
                </li>
            </ul>
        </div>
        <a href="{:url('/message')}" target='blank'  class="basebtn3">想了解更多？点此免费留学规划</a>
    </div>


	<div class="hk_block_2" id="p5">
		<div class="titlemodel6">
			2021 QS世界大学排名榜（英国院校）
		</div>
		<div class="tabox">
			<table>
				<tbody>
					<tr>
						<th width="80">
							排名
						</th>
						<th width="522">
							University
						</th>
						<th width="500">
							大学名称
						</th>
					</tr>
					<tr>
						<td>
							5
						</td>
						<td>
							University of Oxford
						</td>
						<td>
							<em>牛津大学</em>
							<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多&nbsp;&nbsp;&nbsp;免费留学规划</a>
						</td>
					</tr>
					<tr>
						<td>
							7
						</td>
						<td>
							University of Cambridge
						</td>
						<td>
							<em>剑桥大学</em>
							<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多&nbsp;&nbsp;&nbsp;免费留学规划</a>
						</td>
					</tr>
					<tr>
						<td>
							8
						</td>
						<td>
							Imperial College London
						</td>
						<td>
							<em>伦敦帝国学院</em>
							<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多&nbsp;&nbsp;&nbsp;免费留学规划</a>
						</td>
					</tr>
					<tr>
						<td>
							10
						</td>
						<td>
							UCL
						</td>
						<td>
							<em>伦敦大学学院</em>
							<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多&nbsp;&nbsp;&nbsp;免费留学规划</a>
						</td>
					</tr>
					<tr>
						<td>
							20
						</td>
						<td>
							The University of Edinburgh
						</td>
						<td>
							<em>爱丁堡大学</em>
							<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多&nbsp;&nbsp;&nbsp;免费留学规划</a>
						</td>
					</tr>
					<tr>
						<td>
							27
						</td>
						<td>
							The University of Manchester
						</td>
						<td>
							<em>曼彻斯特大学</em>
							<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多&nbsp;&nbsp;&nbsp;免费留学规划</a>
						</td>
					</tr>
					<tr>
						<td>
							31
						</td>
						<td>
							King's College London
						</td>
						<td>
							<em>伦敦国王学院</em>
							<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多&nbsp;&nbsp;&nbsp;免费留学规划</a>
						</td>
					</tr>
					<tr>
						<td>
							49
						</td>
						<td>
							The London School of Economics and Political Science (LSE)
						</td>
						<td>
							<em>伦敦政治经济学院</em>
							<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多&nbsp;&nbsp;&nbsp;免费留学规划</a>
						</td>
					</tr>
					<tr>
						<td>
							58
						</td>
						<td>
							University of Bristol
						</td>
						<td>
							<em>布里斯托大学</em>
							<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多&nbsp;&nbsp;&nbsp;免费留学规划</a>
						</td>
					</tr>
					<tr>
						<td>
							62
						</td>
						<td>
							The University of Warwick
						</td>
						<td>
							<em>华威大学</em>
							<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多&nbsp;&nbsp;&nbsp;免费留学规划</a>
						</td>
					</tr>
					<tr>
						<td>
							77
						</td>
						<td>
							University of Glasgow
						</td>
						<td>
							<em>格拉斯哥大学</em>
							<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多&nbsp;&nbsp;&nbsp;免费留学规划</a>
						</td>
					</tr>
					<tr>
						<td>
							86
						</td>
						<td>
							Durham University
						</td>
						<td>
							<em>达勒姆大学</em>
							<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多&nbsp;&nbsp;&nbsp;免费留学规划</a>
						</td>
					</tr>
					<tr>
						<td>
							87
						</td>
						<td>
							University of Birmingham
						</td>
						<td>
							<em>伯明翰大学</em>
							<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多&nbsp;&nbsp;&nbsp;免费留学规划</a>
						</td>
					</tr>
					<tr>
						<td>
							90
						</td>
						<td>
							University of Southampton
						</td>
						<td>
							<em>南安普顿大学</em>
							<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多&nbsp;&nbsp;&nbsp;免费留学规划</a>
						</td>
					</tr>
					<tr>
						<td>
							91
						</td>
						<td>
							University of Leeds
						</td>
						<td>
							<em>利兹大学</em>
							<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多&nbsp;&nbsp;&nbsp;免费留学规划</a>
						</td>
					</tr>
					<tr>
						<td>
							93
						</td>
						<td>
							University of Leeds
						</td>
						<td>
							<em>利兹大学</em>
							<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多&nbsp;&nbsp;&nbsp;免费留学规划</a>
						</td>
					</tr>
					<tr>
						<td>
							96
						</td>
						<td>
                                                                                                                University of Sheffield
						</td>
						<td>
							<em>谢菲尔德大学</em>
							<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多&nbsp;&nbsp;&nbsp;免费留学规划</a>
						</td>
					</tr>
					<tr>
						<td>
							96
						</td>
						<td>
							University of St Andrews
						</td>
						<td>
							<em>圣安德鲁斯大学</em>
							<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多&nbsp;&nbsp;&nbsp;免费留学规划</a>
						</td>
					</tr>
                                                                                <tr>
						<td>
							99
						</td>
						<td>
							University of Nottingham
						</td>
						<td>
							<em>诺丁汉大学</em>
							<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank' >了解更多&nbsp;&nbsp;&nbsp;免费留学规划</a>
						</td>
                                                                                 </tr>
				</tbody>
			</table>
		</div>
		<a href="http://p.qiao.baidu.com/cps/chat?siteId=13910576&userId=28221420" target='blank'  class="basebtn3">想了解更多？点此免费留学规划</a>
	</div>







    <div class="base_type_block_all style3 nogb" id="p6">
        <div class="type0">
            <h2 class="h2tit_base"><span>“三对一”服务，全程全时</span></h2>
            <div class="contbox">
                <div class="list">
                    <p>
                        <strong>留学管家：</strong><span>全程监督服务质量，保证留学申请顺利进行</span>
                    </p>
                    <p>
                        <strong>文案老师：</strong><span>985/211本科或海归硕士，文书质量高，合理 规避薄弱项，润色突出优势项</span>
                    </p>
                    <p>
                        <strong>留学顾问：</strong><span>留学整体规划，涉及选校，协助申请、签证 指导和行前指导</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="type1">
            <h2 class="h2tit_base"><span>全程服务透明化</span></h2>
            <div class="list">
                <ul>
                    <li>
                        <div class="icon">
                            <img src="LUDIYE/images//gh1.png" alt="">
                        </div>
                        <div class="tit">
                            留学管家
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <img src="LUDIYE/images//gh2.png" alt="">
                        </div>
                        <div class="tit">
                            邮件
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <img src="LUDIYE/images//gh3.png" alt="">
                        </div>
                        <div class="tit">
                            申请者
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="type2">
            <h2 class="h2tit_base"><span>全程服务可追踪</span></h2>
            <div class="list">
                <ul>
                    <li>
                        <div class="imgbox">
                            <img src="LUDIYE/images//gz1.png" alt="">
                        </div>
                        <div class="title">
                            <div class="left">01</div>
                            <div class="right">
                                点击“服务查询”栏目<br>(官网或公众号)
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="imgbox">
                            <img src="LUDIYE/images//gz2.png" alt="">
                        </div>
                        <div class="title">
                            <div class="left">02</div>
                            <div class="right">
                                输入服务编号
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="imgbox">
                            <img src="LUDIYE/images//gz3.png" alt="">
                        </div>
                        <div class="title">
                            <div class="left">03</div>
                            <div class="right">
                                即可随时随地查询<br>申请进度
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</div>



<div class="footer bg9">
    <h2 class="h2tit">免费留学申请规划</h2>
    <div class="tabox">
        <form action="" id="myform">
            <input type="text" name="name" placeholder="姓名" class="words s1" />
            <input type="text" name="weixin" placeholder="微信" class="words s2" />
            <input type="text" name="mobile" placeholder="手机号" class="words s3" />
            <input type="button" id="send" value="立即预约" class="send" />
            <div class="tel">
                <p>咨询热线：</p>
                <div class="val">
                    400-8010-621
                </div>
            </div>
        </form>
    </div>
</div>

{/block}
<!--底部-->

{block name="script"}

{/block}
