.shoptwoclass_diy{
margin:0px;
padding:28px 0px 20px 17px;
}

.shoptwoclass_diy .shoptwoclass_diy_top{
clear:both;
height:28px;
color: #999999;
font:bold 14px/28px 'microsoft yahei',Verdana, Arial;
cursor: pointer;
}

.shoptwoclass_diy .shoptwoclass_diy_top a{
color: #d29f08;
font:bold 14px/28px 'microsoft yahei',Verdana, Arial;
padding-left:0px;
text-decoration: none;
}

.shoptwoclass_diy .shoptwoclass_diy_top a:visited{
color: #d29f08;
}

.shoptwoclass_diy .shoptwoclass_diy_top a:hover{
color: #ff6600;
}


.shoptwoclass_diy ul{
margin:0px;
width:100%;
margin-bottom:60px;
}

.shoptwoclass_diy ul li{
list-style-type: none;
float:left;
height:28px;
font:12px/28px 'microsoft yahei',Verdana, Arial;
margin:0px;
padding:0px;
color: #333;
white-space:nowrap;
}

.shoptwoclass_diy ul li a{
color: #333;
font:12px/28px 'microsoft yahei',Verdana, Arial;
text-decoration: none;
margin:0px 3px 0px 3px;
}

.shoptwoclass_diy ul li a:visited{
color: #333;
}

.shoptwoclass_diy ul li a:hover{
color: #ff6600;
}

